html{
	font-size: 40px;
}

@font-face {
	font-family: 'roboto-light';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'roboto-regular';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'roboto-medium';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'roboto-bold';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/Roboto-Bold.ttf) format('truetype');
}

body{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

body.cover{
	display: table;
	height: 100%;
}

body .page-content{
    padding: 8px 0px;
    box-sizing: border-box;
    border-radius: 8px;
}

.cover.page-content{
	display: table;
	font-family: 'roboto-regular';
	border: none;
	height: 100vh;
	margin-bottom: 36px;
}

.cover.page-content .holymass-cover{
	display: table-cell;
	vertical-align: middle;
}

.main-wrapper{
	margin: 15px 15px 8px 15px;
    border: 1px solid #9c9b9b;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0px 20px;
}

.holymass-cover .logo{
	width: 100%;
    display: inline-block;
    margin-top: 0;
	text-align: center;
	margin: 0.5rem auto;
}

.holymass-cover .logo img{
	width: 25%;
}

.holymass-title{
	font-size: 0.9rem;
	text-align: center;
	margin: 20px auto;
	font-weight: 500;
	color: #b93737;
	font-family: 'roboto-regular';
}

.holymass-subtitle{
	font-size: 0.5rem;
	text-align: center;
	margin: 20px auto;
	font-weight: 500;
	color: #b93737;
	font-family: 'roboto-regular';
}

.title-desc{
	font-size: 0.4rem;
	text-align: center;
	margin: 20px auto;
	font-weight: 500;
	font-family: 'roboto-regular';
}


.holymass-cover .verse{
	background-color: #b93737;
    border-radius: 12px;
    color: #fff;
    width: 80%;
    font-weight: 300;
    padding: 0.5rem 0px;
    margin: 0 auto;
}

.section{
	clear: both;
	overflow: auto;
}

.section p{
	font-size: 0.4rem;
	font-family: 'roboto-medium';
	font-weight: normal;
   	font-style: normal;
	text-align: left;
	margin: 5px auto;
}

p.description{
	font-size: 0.4rem;
	font-family: 'roboto-medium';
	text-align: left;
	margin: 12px auto;
	color: #226127;
}

.section.cardinal p{
	color: #293667;
}

.section.servers p{
	color: #c12290;
}

.section .left{
	width: 10%;
	float: left;
	box-sizing: border-box;
	vertical-align: top;
}

.section .right{
	width: 90%;
	float: left;
	box-sizing: border-box;
	vertical-align: top;
}

.section.long .left{
	width: 15%;
	word-break: break-word;
}

.section.long .right{
	width: 85%;
}

.center-align{
	text-align: center !important;
}

.section.conversation p{
	margin: 12px auto;
}

.section.conversation p.cardinal{
	color: #293667;
}

.section.conversation p.servers{
	color: #c12290;
}

.title{
	font-size: 0.6rem;
	margin: 5px auto;
	font-family: 'roboto-medium';
	color: #226127;
}

.subtitle{
	font-size: 0.4rem;
	margin: 5px auto;
	font-family: 'roboto-medium';
	color: #226127;
}

.page-content .title-only{
	margin: 5px auto 15px auto;
}

.page-content p.action{
	font-size: 0.38rem;
    font-family: 'roboto-medium';
    font-style: italic;
    font-weight: normal; 
    color: #8c2121;
    margin: 12px auto;
}

.page-content .highlight{
	color: #ff471a !important;
}

.page-content .right-align{
	text-align: right;
}

.page-content .all{
	font-family: 'roboto-bold' !important;
	font-weight: bold;
}

.full-height{
	height: 100vh;
}