*,
*::after,
*::before {
	box-sizing: border-box;
}

html{
	height: 100vh;
	font-size: 40px;
}

html,
body,
p {
	margin: 0;
	padding: 0;
}

a {
	color: #546e7a;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h3 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 500;
}

/* MAIN styles */

@font-face {
	font-family: 'roboto-regular';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'roboto-medium';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

body {
	font-family: 'roboto-regular';
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	height: 100%;
}

.app-layout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: table;
}

header {
	position: fixed;
	width: 100%;
	height: 56px;
	top: 0;
	/*background-color: #546e7a;*/
	background-color: #b93737;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	overflow: hidden;
	z-index: 1;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 250ms linear;
}

.app__offline {
	background-color: #6b6b6b;
}

.header-menu-icon {
	width: 48px;
	height: 48px;
	margin: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.header-menu-icon:active {
	opacity: 0.8;
	outline: 1px solid #fff;
}

.header-title {
	color: #fff;
	font-size: 20px;
	-ms-grid-row-align: center;
	align-self: center;
	margin-left: 10px;
}

.menu {
	width: 280px;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
	z-index: 1;
	transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
	transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
	transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
	-webkit-transform: translateX(-110%);
	transform: translateX(-110%);
	will-change: transform;
	z-index: 2;
}

.menu-show {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.menu-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: opacity 0.15s cubic-bezier(0, 0, 0.3, 1);
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

.menu-overlay-show {
	visibility: visible;
	opacity: 1;
}

.menu-header {
	height: 170px;
	background: #546e7a;
	color: #fff;
	border-bottom: 1px solid #ddd;
	background-size: 100%;
	background-image: url( '../images/menu-cover.jpg' );
}

.menu-list {
	width: inherit;
	height: inherit;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #f5f5f6;
}

.menu-list li {
	border: 0;
	padding: 0;
	box-shadow: none;
	border-radius: 0;
}

#share{
	color: #b93737;
}

.menu-list li a,
.menu-list li p {
	padding: 20px;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	display: block;
}

.menu-list li a:active,
.menu-list li a:hover {
	background: #e7e7e7;
}

.page-content {
	/*width: 320px;*/
	height: 100%;
	margin: 0 auto;
	padding-top: 56px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

button {
	min-width: 90px;
	height: 35px;
	font-size: 14px;
	border: 0;
	background: #4f8efa;
	color: #fff;
	margin: 0 auto -5px;
	display: inline-block;
	cursor: pointer;
	outline: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
	-o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.38);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border-radius: 4px;
}

button:active {
	box-shadow: none;
}

button:disabled {
	background: #ccc;
	color: #000;
	cursor: not-allowed;
}

.custom__button p {
	position: initial;
	margin: 0;
	padding-left: 10px;
}

.custom__button {
	padding: 10px 15px;
	font-family: "Roboto", arial, sans-serif;
	text-align: left;
}

.turn-on-sync {
	min-width: 75px;
	height: 30px;
	margin-left: 10px;
}

.custom__input:checked + .custom__checkbox {
	background: rgb(195, 195, 195);
}

.custom__input:checked + .custom__checkbox::before {
	left: 25px;
	background: #0288d1;
}


b {
	font-family: inherit;
	font-weight: 500;
}

.fab {
	width: 56px;
	height: 56px;
	background: #546e7a;
	border-radius: 50%;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 25px;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	display: none;
}

.fab.active {
	background: #faab1a;
}

.fab__ripple {
	position: absolute;
	left: -17px;
	bottom: -12px;
	width: 56px;
	height: 56px;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	background: #fff;
	border-radius: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
	transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
	transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms, -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
	z-index: 2;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fab:active .fab__ripple {
	opacity: 0.2;
	-webkit-transform: scale(1) translate(31%, -22%);
	transform: scale(1) translate(31%, -22%);
}

.fab__image {
	overflow: hidden;
	z-index: 3;
}



.bg-sync__text {
	font-size: 12px;
	padding-left: 5px;
	color: #008000;
}

.custom__button.custom__button-bg {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.custom__button.custom__button-bg.hide {
	display: none;
}

b i a {
	text-decoration: underline;
	color: #546e7a;
}

li {
	border: 1px solid #e6e6e6;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

h4 {
	text-align: left;
	margin-bottom: 30px;
}

.welcome-section,
.holymass-cover{
	text-align: center;
}

.welcome-section p{
	font-size: 20px;
	margin: 20px auto;
	font-weight: 500;
}

.welcome-section .logo,
.holymass-cover .logo{
	margin-top: 20px;
	width: 100%;
    display: inline-block;
}

.welcome-section .logo img{
	width: 40%;
}

.welcome-section .verse,{
	width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0px;
}

.verse .title{
	font-size: 0.5rem;
	margin: 5px auto;
}

.verse .subtitle{
	font-size: 16px;
	margin: 5px auto;
}

.content-menu{
	margin: 0.5rem auto;
}

.content-menu .content-menu-item{
	width: 80%;
    font-size: 17px;
    text-align: center;
    margin: 10px auto;
    padding: 10px 0px;
    color: #ffffff;
	/*background-color: #546e7a;*/
	background-color: #b93737;
}

.content-menu .content-menu-item a{
	color: inherit;
	text-decoration: none;
}

.prayer-page,
.holymass-page{
	text-align: center;
	height: calc( 100vh - 56px );
	padding-bottom: 10px;
}

.page-content .prayer-content,
.page-content .holymass-content{
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	border: 1px solid #f7f7f7;
	height: 100%;
	/*padding: 12px 20px 5px 20px;*/
	box-sizing: border-box;
}

.page-content .prayer-content iframe,
.page-content .holymass-content iframe{
	width: 100%;
	height: calc( 100% - 50px );
	border: none;
}

.page-content .pagination,
.page-content .pagination{
	height: 44px;
	padding: 0px;
    box-sizing: border-box;
}

.page-content .pagination a,
.page-content .pagination a{
	line-height: 30px;
    padding: 0px 0px;
    display: inline-block;
    width: 22% !important;
    text-decoration: none;
}

.page-content .pagination a.nav-links,
.page-content .pagination a.nav-links{
	background-color: #b93737;
	color: #fff;
}

.page-content .nav-links.disabled-nav{
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.holymass-page .content-menu .content-menu-item,
.prayers-page .content-menu .content-menu-item{
	 margin: 50px auto;
}

ul.menu-list li a,
ul.menu-list li p {
   text-decoration: none;
   font-size: 0.4rem;
   vertical-align: middle;
}

#footer{
	position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    color: #b93737;
    padding: 15px 0px;
    font-family: 'roboto-medium';
    font-size: 0.35rem;
}

#footer{
	position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    color: #b93737;
    padding: 15px 0px;
    font-family: 'roboto-medium';
    font-size: 0.35rem;
}

.page-content.offline h2{
	font-size: 9rem;
}

.page-content.offline p{
	font-size: 0.4rem;
	margin: 0 0.5rem;
}


/**Desktop Query*/
@media only screen and (min-width: 768px) {
  .welcome-section .logo img{
  	width: 15%;
  }

  .page-content .content-menu *{
  	display: none;
  }

  .page-content .content-menu::after{
  	content: 'Please visit the website from a mobile device';
  	font-size: 20px;
  	color: #b93737;
  	 font-family: 'roboto-medium';
  }

  .header-menu-icon, .menu, .menu-overlay{
  	display: none;
  }

  .header-title{
  	margin-left: 20px;
  }
}

/*Tablet Query*/
@media only screen and (min-width: 481px) and (max-width:768px) {
  .welcome-section .logo img{
  	width: 20%;
  }
}

#install-button{
	display: block;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: 0;
    outline: 0;
    /* box-shadow: none; */
    color: #b93737;
    font-size: 12px;
    min-width: auto;
    height: auto;
    min-height: 25px;
    padding: 0px 6px;
}

#update-banner{
	    width: 100%;
    background: #f0ad4e;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 11px;	
}

#reload-btn{
	    border: none;
    color: white;
    cursor: pointer;
    background-color: #ffffff;
    border: 0;
    outline: 0;
    color: #b93737;
    font-size: 11px;
    min-width: auto;
    height: auto;
    min-height: 22px;
    padding: 0px 6px;
    margin-left: 5px;
}

#snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
    }

    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s;
      animation: fadein 0.5s;
    }

    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }