<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../css/prayers.css">
	</head>
	<body class="malayalam palm-sunday">
		<div class="main-wrapper">
			<div class="cover page-content">
				<div class="prayer-cover english-title">
					<div class="logo">
						<img src="../images/hosanna.jpg">
					</div>
					<p class="prayer-title">Palm Sunday</p>
				</div>
			</div>
			<div class="main-content">
				<div class="title">
					<p class="maintitle">പ്രാരംഭ ഗീതം</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓര്‍ശ്ശേംനഗരത്തിന്‍, വാതില്‍ തുറക്കുന്നു.<br>
					ഒലിവിന്‍ ശിഖിരങ്ങള്‍, കൈകളിലുയരുന്നു<br>
					ഓശാനകളാല്‍ വഴിയെല്ലാം, മുഖരിതമാകുന്നു.</p>
				</div>
				<div class="section paragraph-song">
					<p>രാജമഹേശ്വരനാം, മിശിഹായണയുന്നു,<br>
					കഴുതക്കുട്ടിയതാ, വാഹനമാകുന്നു<br>
					തെരുവോരങ്ങളില്‍ ജയ് വിളികൾ<br>
					മാറ്റൊലി തീര്‍ക്കുന്നു.</p>
				</div>
				<div class="section paragraph-song">
					<p>വാനവരോടൊപ്പം, പാടാം ഓശാന<br>
					വിനയാന്വിതരായ്‌ നാം, നാഥനു സ്തുതിപാടാം.<br>
					സ്വര്‍ഗ മനോഹര ഭവനത്തില്‍<br>
					ചേര്‍ക്കുക ഞങ്ങളെയും.</p>
				</div>
				<div class="section paragraph-song">
					<p>പാതകള്‍ തോറും വെണ്‍, പട്ടുവിരിപ്പുകളും<br>
					സൈത്തിന്‍ കൊമ്പുകളും, നിന്നെതിരേൽപ്പിനായ്<br>
					അന്നുവിരിച്ചതു പോല്‍ ഹൃദയം<br>
					ഞങ്ങള്‍ വിരിച്ചീടാം.</p>
				</div>
			</div>
			<div class="main-content">
				<div class="title">
					<p class="maintitle">സ്നേഹത്തിന്റെ കല്പന</p>
					<p class="subtitle">(യോഹ. 13:34-35)</p>
				</div>
				<div class="section paragraph-song">
					<p><b>കാര്‍മ്മി:&nbsp;</b>അന്നാപെസഹാത്തിരുനാളില്‍<br>
					കര്‍ത്താവരുളിയ കല്പനപോല്‍<br>
					തിരുനാമത്തില്‍ ച്ചേര്‍ന്നീടാം<br>
					ഒരുമയോടി ബലിയര്‍പ്പിക്കാം.</p>
				</div>
				<div class="section paragraph-song">
					<p><b>സമുഹം:&nbsp;</b>അനുരഞ്ജിതരായ്‌ തീര്‍ന്നീടാം<br>
					നവമൊരു പീഠമൊരുക്കീടാം<br>
					ഗുരുവിന്‍ സ്നേഹമൊടീയാഗം<br>
					തിരുമുമ്പാകെയണച്ചീടാം.</p>
				</div>
				<div class="title">
					<p class="maintitle">മാലാഖമാരുടെ കീര്‍ത്തനം</p>
					<p class="subtitle">(ലൂക്കാ 2:14)</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b>അത്യുന്നതങ്ങളിൽ ദൈവത്തിനു സ്തൂതി.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b>ഭൂമിയില്‍ മനുഷ്യര്‍ക്കു സമാധാനവും പ്രത്യാശയും എപ്പോഴും എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<p class="subtitle">(പകരം ഗാനം)</p>
				<div class="section paragraph-song">
					<p><b>കാര്‍മ്മി:&nbsp;</b>അത്യുന്നതമാം സ്വര്‍ല്ലോകത്തില്‍ സര്‍വ്വേശനു സ്തൂതി ഗീതം.</p>
				</div>
				<div class="section paragraph-song">
					<p><b>സമൂഹം:&nbsp;</b>ഭൂമിയിലെങ്ങും മര്‍ത്യനു ശാന്തി പ്രത്യാശയു മെന്നേക്കും.</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b>സ്വര്‍ഗ്ഗസ്ഥനായ ഞങ്ങളുടെ പിതാവേ <b>(സമൂഹവും ചേർന്ന്)</b> അങ്ങയുടെ നാമം പൂജിതമാകണമെ / അങ്ങയുടെ രാജ്യം വരണമെ. അങ്ങയുടെ തിരുമനസ്സു സ്വര്‍ഗ്ഗത്തിലെപ്പോലെ ഭൂമിയിലുമാകണമെ. ഞങ്ങള്‍ക്കു ആവശ്യകമായ ആഹാരം / ഇന്നു ഞങ്ങള്‍ക്കു തരണമെ. ഞങ്ങളൂടെ കടക്കാരോടു ഞങ്ങള്‍ ക്ഷമിച്ചിരിക്കുന്നതുപോലെ, ഞങ്ങളുടെ കടങ്ങളും പാപങ്ങളും ഞങ്ങളോടു ക്ഷമിക്കണമെ. ഞങ്ങളെ പ്രലോഭനത്തില്‍ ഉള്‍പ്പെടുത്തരുതെ. ദുഷ്ടാരൂപിയില്‍നിന്നു ഞങ്ങളെ രക്ഷിക്കണമെ. എന്തുകൊണ്ടെന്നാല്‍ /രാജ്യവും ശക്തിയും മഹത്വവും എന്നേക്കും അങ്ങയുടേതാകുന്നു. ആമ്മേന്‍.</p>
					<p>സ്വര്‍ഗ്ഗസ്ഥനായ ഞങ്ങളുടെ പിതാവേ / അങ്ങയുടെ മഹത്വത്താല്‍ സ്വര്‍ഗ്ഗവും ഭൂമിയും നിറഞ്ഞിരിക്കുന്നു / മാലാഖമാരും മനുഷ്യരും അങ്ങു പരിശുദ്ധന്‍ പരിശുദ്ധന്‍ പരിശുദ്ധന്‍ എന്ന്‌ ഉല്‍ഘോഷിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>നമുക്കു പ്രാര്‍ത്ഥിക്കാം; സമാധാനം നമ്മോടുകൂടെ.</p>
				</div>
				<div class="title">
					<p class="maintitle">പ്രാരംഭ പ്രാര്‍ത്ഥന</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b>മഹത്ത്വത്തിന്റെ രാജാവായ മിശിഹായേ, വിനീതനായി കഴുതക്കുട്ടിയുടെ പുറത്ത്‌ ജറുസലെം ദൈവാലയത്തിലേക്ക്‌ എഴുന്നള്ളിയ നിന്നെ ഞങ്ങള്‍ ആരാധിക്കുന്നു. നീതിമാനും പ്രതാപവാനുമായ രാജാവേ, നിനക്ക്‌ ഓശാന പാടിയ സിയോന്‍ മക്കളുടെ കീര്‍ത്തനങ്ങളോടുകൂടി ഞങ്ങളൂടെ പ്രാര്‍ത്ഥനകളും സ്തുതിഗീതങ്ങളും സ്വീകരിക്കണമേ. ഓശാനപാടി നിന്നെ എതിരേറ്റ ജനങ്ങളെപ്പോലെ, സ്തുതിഗീതങ്ങൾ ആലപിച്ചുകൊണ്ട്‌ നിന്നെ എതിരേല്ക്കുവാന്‍ ഞങ്ങളെ യോഗ്യരാക്കണമേ. നിന്റെ സഹനത്തിലും മരണത്തിലും ഉത്ഥാനത്തിലും പങ്കുചേര്‍ന്ന്‌ ഈ പെസഹാ രഹസ്യങ്ങള്‍ അനുഷ്ഠിക്കുവാന്‍ ഞങ്ങളെ അനുഗ്രഹിക്കുകയും ചെയ്യണമേ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
			</div>
			<div class="main-content">
				<div class="title">
					<p class="maintitle">സങ്കീര്‍ത്തനമാല</p>
					<p class="subtitle">സങ്കീര്‍ത്തനം 100</p>
					<p class="subtitle">(ഗാനം - രീതി: കർത്താവേ മമ രാജാവേ... )</p>
				</div>
				<div class="section">
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>വിനയാന്വിതനായ്‌ ദൈവസുതന്‍<br>
						ഓര്‍ശ്ശേംനഗരം പൂകുകയായ്‌<br>
						ജനനിരയെല്ലാമാഹ്ലാദം<br>
						നിറയും മനമോടെതിരേറ്റു.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>ഭൂവാസികളെ, വന്നിടുവിന്‍<br>
						സ്തൂതി ഗീതങ്ങള്‍ പാടിടുവിൻ<br>
						ഗാനാലാപന നാദങ്ങള്‍<br>
						ഗഗനം മുഖരിതമാക്കട്ടെ</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>തിരുമുറ്റത്തേക്കണയുക നാം<br>
						നന്ദിയോടങ്ങയെ വാഴ്ത്തിടുവാൻ<br>
						കരുണാമയനാം സകലേശന്‍<br>
						നിരുപമനെന്നും വിശ്വസ്തൻ</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>താതനുമതുപോലാത്മജനും<br>
						റൂഹായ്ക്കും സ്തൂതി എന്നേക്കും<br>
						ആദിമുതല്ക്കെന്നതുപോലെ<br>
						ആമ്മേന്‍ ആമ്മേനനവരതം</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>വിനയാന്വിതനായ്‌ ദൈവസുതന്‍<br>
						ഓര്‍ശ്ശേംനഗരം പൂകുകയായ്‌<br>
						ജനനിരയെല്ലാമാഹ്ലാദം<br>
						നിറയും മനമോടെതിരേറ്റു.</p>
					</div>
				</div>
			</div>
			<div class="main-content">
				<div class="title">
					<p class="maintitle">സങ്കീർത്തനത്തിനു ശേഷം</p>
					<p class="subtitle">(കാർമ്മികൻ ധൂപം ആശീർവ്വദിക്കുന്നു.)</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b> പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ / അങ്ങയുടെ ബഹുമാനത്തിനായി ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്ന ഈ ധൂപം / അങ്ങയുടെ മഹനീയത്രിത്വത്തിന്റെ നാമത്തില്‍ + ആശീർവദിക്കപ്പെടട്ടെ. ഇത്‌ അങ്ങയുടെ പ്രസാദത്തിനും / അങ്ങയുടെ അജഗണത്തിന്റെ പാപങ്ങളുടെ മോചനത്തിനും കാരണമാകട്ടെ എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b>ഞങ്ങളുടെ കര്‍ത്താവായ ദൈവമേ, അങ്ങു നല്കിയിട്ടുള്ളതും എന്നാല്‍ കൃതജ്ഞത പ്രകാശിപ്പിക്കുവാന്‍ ഞങ്ങള്‍ക്കു കഴിയാത്തതുമായ / എല്ലാ സഹായങ്ങള്‍ക്കും അനുഗ്രഹങ്ങള്‍ക്കുമായി / സകല സൗഭാഗ്യങ്ങളും നന്മകളും നിറഞ്ഞു മുടിചൂടിനില്ക്കുന്ന സഭയില്‍ / ഞങ്ങള്‍ അങ്ങയെ നിരന്തരം സ്തുതിക്കുകയും മഹത്വപ്പെടുത്തുകയും ചെയ്യട്ടെ. അങ്ങു സകലത്തിന്റെയും നാഥനും സൃഷ്ടാവുമാകുന്നു / പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="subtitle">(മദുബഹയുടെ വിരിനീക്കുന്നു. ശുശ്രൂഷി മദുബഹയിൽ പ്രവേശിച്ച് ധൂപിക്കുന്നു.)</p>
				</div>
				<div class="title">
					<p class="maintitle">(ഉത്ഥാന ഗീതം)</p>
					<p class="subtitle">(എല്ലാവരും അൾത്താരയിലേക്ക് തിരിഞ്ഞു ശിരസ്സു നമിക്കുന്നു)</p>
				</div>
				<div class="section">
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>സര്‍വ്വാധിപനാം കര്‍ത്താവേ<br>
						നിന്നെ വണങ്ങി നമിക്കുന്നു<br>
						ഈശോ നാഥാ വിനയമൊടെ<br>
						നിന്നെ നമിച്ചു പുകഴ്ത്തുന്നു.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>മര്‍ത്യനു നിത്യമഹോന്നതമാ<br>
						മുത്ഥാനം നീയരുളൂന്നു<br>
						അക്ഷയമവനുടെ ആത്മാവി<br>
						ന്നുത്തമരക്ഷയുമേകുന്നു.</p>
					</div>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>നമുക്കു പ്രാര്‍ത്ഥിക്കാം; സമാധാനം നമ്മോടുകൂടെ.</p>
				</div>
				<div class="title">
					<div class="subtitle">
						<p>(കാർമ്മികൻ ജനങ്ങൾക്ക് നേരെ തിരിഞ്ഞ്)</p>
					</div>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b>എന്റെ കര്‍ത്താവേ നീ സത്യമായും ഞങ്ങളുടെ ശരീരങ്ങളെ ഉയര്‍പ്പിക്കുന്നവനും / ആത്മാക്കളെ രക്ഷിക്കുന്നവനും / ജീവനെ നിത്യം പരിപാലിക്കുന്നവനുമാകുന്നു. ഞങ്ങള്‍ എപ്പോഴും നിനക്കു സ്തുതിയും കൃതജ്ഞതയും ആരാധനയും സമര്‍പ്പിക്കുവാന്‍ കടപ്പെട്ടവരാകുന്നു / സകലത്തിന്റെയും നാഥാ എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="maintitle">ത്രൈശുദ്ധ കീര്‍ത്തനം</p>
				</div>
				<div class="section">
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>ശബ്ദമുയര്‍ത്തിപ്പാടിടുവിന്‍<br>
						സര്‍വ്വരുമൊന്നായ്‌ പാടിടുവിൻ<br>
						എന്നെന്നും ജീവിക്കും<br>
						സര്‍വ്വേശ്വരനെ വാഴ്ത്തിടുവിൻ</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>പരിപാവനനാം സര്‍വ്വേശാ<br>
						പരിപാവനനാം ബലവാനേ<br>
						പരിപാവനനാം അമര്‍ത്യനേ<br>
						നിന്‍കൃപ ഞങ്ങള്‍ക്കേകണമേ.</p>
					</div>
				</div>
				<div class="section paragraph">
					<p><b>ശുശ്രൂഷി:&nbsp;</b>നമുക്കു പ്രാര്‍ത്ഥിക്കാം; സമാധാനം നമ്മോടുകൂടെ.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b>വിശുദ്ധരില്‍ സംപ്രീതനായി വസിക്കുന്ന / പരിശുദ്ധനും സ്തൃത്യര്‍ഹനും ബലവാനും അമർത്യനുമായ കര്‍ത്താവേ, അങ്ങയുടെ സ്വഭാവത്തിനൊത്തവിധം / എപ്പോഴും ഞങ്ങളെ കടാക്ഷിക്കുകയും അനുഗ്രഹിക്കുകയും / ഞങ്ങളോടു കരുണകാണിക്കുകയും ചെയുണമെ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="maintitle">വചന ശുശ്രൂഷ</p>
					<p class="subtitle"><b>പഴയ നിയമ വായനകള്‍</b></p>
				</div>
				<div class="section">
					<p><b>ഒന്നാം വായന (ഉല്പത്തി 49: 8-12, 22-26)</b></p>
					<p><b>രണ്ടാം വായന (സഖറിയ 9: 9-12)</b></p>
				</div>
				<div class="section paragraph">
					<p><b>ശുശ്രൂഷി:&nbsp;</b> സഹോദരരേ നിങ്ങള്‍ ഇരുന്നു ശ്രദ്ധയോടെ കേള്‍ക്കുവിന്‍.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>വായിക്കുന്നയാള്‍: ----- പുസ്തകത്തില്‍ നിന്നുള്ള വായന (കാർമ്മികനു നേരെ തിരിഞ്ഞ്) ഗുരോ ആശീർവ്വദിക്കണമേ.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b>ദൈവം നിന്നെ + അനുഗ്രഹിക്കട്ടെ.</p>
				</div>
				<div class="title">
					<p class="subtitle">(വായന തീരുമ്പോൾ)</p>
				</div>
				<div class="section paragraph">
					<p><b>സമൂഹം:&nbsp;</b>നമ്മുടെ കര്‍ത്താവായ മിശിഹായ്ക്കു സ്തൂതി.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b> പ്രകീര്‍ത്തനം ആലപിക്കുവാനായി നിങ്ങള്‍
					എഴുന്നേല്ക്കുവിന്‍.</p>
				</div>
				<div class="title">
					<p class="maintitle">പ്രകീര്‍ത്തനം</p>
				</div>
				<div class="section">
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>കാര്‍മ്മി:&nbsp;</b> സര്‍വ്വചരാചരവും,<br>
						ദൈവമഹത്വത്തെ, വാഴ്ത്തിപ്പാടുന്നു.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>സമൂഹം:&nbsp;</b>തരുനിരയെല്ലാം ദൈവത്തിന്‍<br>
						സ്തുതിഗീതങ്ങളുയർത്തട്ടെ.<br>
						ഓശാനകളാലീ സുദിനം<br>
						ഹല്ലേലൂയ്യാ പാടുക നാം<br>
						വാഴ്ത്തിടാം നിത്യം തിരുനാമം.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>കാര്‍മ്മി:&nbsp;</b>തന്‍ മഹിമാവല്ലോ,<br>
						വാനിലുമൂഴിയിലും, തിങ്ങിവിളങ്ങുന്നു.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>സമൂഹം:&nbsp;</b>തരുനിരയെല്ലാം ദൈവത്തിന്‍...</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>കാര്‍മ്മി:&nbsp;</b>ജനതകളവിടുത്തെ,<br>
						മഹിമകള്‍ പാടുന്നു, താണുവണങ്ങുന്നു.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>സമൂഹം:&nbsp;</b>തരുനിരയെല്ലാം ദൈവത്തിന്‍...</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>കാര്‍മ്മി:&nbsp;</b>നിത്യപിതാവിനും,<br>
						സുതനും റൂഹായ്ക്കും, സ്തുതിയുണ്ടാകട്ടെ.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>സമൂഹം:&nbsp;</b>തരുനിരയെല്ലാം ദൈവത്തിന്‍...</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>കാര്‍മ്മി:&nbsp;</b>ആദിയിലെപ്പോലെ,<br>
						ഇപ്പൊഴുമെപ്പോഴും, എന്നേക്കും ആമ്മേന്‍.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p><b>സമൂഹം:&nbsp;</b>തരുനിരയെല്ലാം ദൈവത്തിന്‍...</p>
					</div>
				</div>
				<div class="section paragraph">
					<p><b>ശുശ്രൂഷി:&nbsp;</b>നമുക്കു പ്രാര്‍ത്ഥിക്കാം; സമാധാനം നമ്മോടുകൂടെ.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b>ഞങ്ങളുടെ കര്‍ത്താവായ ദൈവമേ / അങ്ങയുടെ ജീവദായകവും ദൈവികവുമായ / കല്പനകളുടെ മധുരസ്വരം ശ്രവിക്കുന്നതിനും ഗ്രഹിക്കുന്നതിനും / ഞങ്ങളുടെ ബുദ്ധിയെ പ്രകാശിപ്പിക്കണമെ. അതുവഴി ആത്മശരീങ്ങള്‍ക്കുപകരിക്കുന്ന / സ്നേഹവും ശരണവും രക്ഷയും ഞങ്ങളില്‍ ഫലമണിയുന്നതിനും / നിരന്തരം ഞങ്ങള്‍ അങ്ങയെ സ്തുതിക്കുന്നതിനും / അങ്ങയുടെ കാരുണ്യത്താലും അനുഗ്രഹത്താലും ഞങ്ങളെ സഹായിക്കണമെ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="maintitle">ലേഖനം</p>
					<p class="subtitle">(റോമാ 11: 13-24)</p>
				</div>
				<div class="section paragraph">
					<p><b>വായിക്കുന്ന ആള്‍:&nbsp;</b> സഹോദരരേ, വി. പൗലോസ് ശ്ലീഹാ റോമാക്കാര്‍ക്ക്‌ എഴുതിയ ലേഖനം. (കാർമ്മികനു നേരെ തിരിഞ്ഞ്) ഗുരോ ആശീർവ്വദിക്കണമേ.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b> മിശിഹാ + നിന്നെ അനുഗ്രഹിക്കട്ടെ.</p>
					<p class="rossary-helper center-align">(ഒരു ശുശ്രൂഷി കത്തിച്ച തിരിയുമായി സമീപത്തു നിൽക്കുന്നു).</p>
					<p class="rossary-helper center-align">(വായന തീരുമ്പോൾ)</p>
					<p><b>സമൂഹം:&nbsp;</b> നമ്മുടെ കര്‍ത്താവായ മിശിഹായ്ക്കു സ്തുതി.</p>
				</div>
				<div class="title">
					<p class="maintitle">ഹല്ലേലുയ്യാ ഗീതം</p>
				</div>
				<div class="section">
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>ഹല്ലേലുയ്യാ പാടാമൊന്നായ്‌<br>
						ഹല്ലേലുയ്യാ ഹല്ലേലുയ്യാ.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>എത്രമനോജ്ഞം നിന്‍ തിരുനാമം<br>
						കര്‍ത്താവേ ഈ ഭൂമിയിലെങ്ങും.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>നിന്റെ മഹത്ത്വം വാനിനുമീതേ<br>
						കീര്‍ത്തിതമാണെന്നറിവൂ ഞങ്ങള്‍</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>നിന്നുടെ ചിന്തയിലെത്താന്‍ മാത്രം<br>
						എന്തൊരുമേന്മ മനുഷ്യനിലുള്ളു</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>താതനുമതുപോല്‍ സുതനും<br>
						പരിശുദ്ധാത്മാവിനും സ്തുതിയുയരട്ടെ</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>ആദിമുതല്‍ക്കേയിന്നും നിത്യവു<br>
						മായി ഭവിച്ചീടട്ടെ ആമ്മേന്‍.</p>
					</div>
					<div class="prayer-left">
						<p></p>
					</div>
					<div class="prayer-right">
						<p>ഹല്ലേലുയ്യാ പാടാമൊന്നായ്‌<br>
						ഹല്ലേലുയ്യാ ഹല്ലേലുയ്യാ.</p>
					</div>
				</div>
				<div class="title">
					<p class="subtitle">സുവിശേഷം (മത്തായി 21: 1-17)</p>
					<p class="subtitle">പ്രസംഗം</p>
				</div>
				<div class="title">
					<p class="maintitle">കുരുത്തോലവെഞ്ചരിപ്പ്‌</p>
				</div>
				<div class="section">
					<p><b>കാര്‍മ്മി:&nbsp;</b>കര്‍ത്താവായ ദൈവമേ, നിത്യം ജീവിക്കുന്നവനായ അങ്ങേയ്ക്കും പരിശുദ്ധനായ അങ്ങയുടെ അഭിഷക്തനും ഞങ്ങള്‍ സ്തുതിയും ബഹുമാനവും കൃതജ്ഞതയും ആരാധനയും സമര്‍പ്പിക്കുന്നു. സകലത്തിന്റെയും നാഥാ, എന്നേയ്ക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b> ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="maintitle">ഗാനം</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓശാനപാടുവിന്‍ നാഥനെ വാഴ്ത്തുവിൻ<br>
					ദിവ്യാപദാനങ്ങള്‍ കീര്‍ത്തിക്കുവിന്‍<br>
					കാഹളമൂതുവിന്‍, വീണകള്‍ മീട്ടുവിന്‍<br>
					പാവനപാദം നമിച്ചീടുവിന്‍</p>
				</div>
				<div class="section paragraph-song">
					<p>പൂക്കള്‍ വിരിക്കുവിന്‍ വീഥിയൊരുക്കുവിന്‍<br>
					വിണ്ടലനാഥനെഴുന്നള്ളൂന്നു.<br>
					ആനന്ദഗാനങ്ങളെങ്ങും മുഴങ്ങട്ടെ<br>
					സൃഷ്ടികള്‍ നാഥനെ വാഴ്ത്തീടട്ടെ.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാനപാടുവിന്‍ ...</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b> ഞങ്ങളുടെ നാഥനും രക്ഷകനും രാജാധിരാജനുമായ മിശിഹായേ, നിന്നെ ഞങ്ങള്‍ സ്തുതിക്കുന്നു. ജറുസലേം പട്ടണത്തിലേയ്ക്കുള്ള ആഘോഷപൂർവ്വകമായ നിന്റെ പ്രവേശനത്തിന്റെ ഓര്‍മ്മ കൊണ്ടാടുവാന്‍ ഒരുമിച്ചു കൂടിയിരിക്കുന്ന ഈ സമൂഹത്തെ തൃക്കണ്‍ പാര്‍ക്കണമേ. സൈത്തിൻ കൊമ്പുകള്‍ പിടിച്ചുകൊണ്ട്‌ നിന്നെ എതിരേറ്റവരെ അനുഗ്രഹിച്ച മിശിഹായേ, നിന്റെ വലതുകരം നീട്ടി ഈ കുരുത്തോലകള്‍ + ആശീർവ്വദിക്കണമേ. (കാർമ്മികൻ ആശീർവ്വദിക്കുന്നു). ഞങ്ങളേയും ഈ കുരുത്തോല സ്ഥാപിക്കപ്പെടുന്ന ഭവനങ്ങളെയും സ്ഥലങ്ങളേയും നിന്റെ കൃപാവരംകൊണ്ട്‌ നിറയ്ക്കണമേ. ഓശാന പാടി ഇന്നു നിന്നെ എതിരേല്ക്കുന്ന ഞങ്ങള്‍, മഹത്വപൂര്‍ണ്ണമായ നിന്റെ പ്രത്യാഗമനത്തില്‍ നിന്നെ എതിരേല്ക്കുവാനും സ്വര്‍ഗ്ഗീയ ജെറുസലെമില്‍ പ്രവേശിച്ച്‌ ആനന്ദപൂര്‍വ്വം നിന്നെ സ്തുതിക്കുവാനും അര്‍ഹരാകട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.
					<p><b>സമൂഹം:&nbsp;</b> ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="subtitle">(കാർമ്മികൻ കുരുത്തോലയിൽ വിശുദ്ധ ജലം തളിക്കുകയും ധൂപിക്കുകയും ചെയ്യുന്നു. കുരുത്തോല വിതരണം ചെയ്യുമ്പോൾ താഴെ വരുന്ന ഗാനം ആലപിക്കുന്നു).</p>
				</div>
				<div class="title">
					<p class="maintitle">ഗീതം</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓശാന ഓശാന<br>
					ദാവീദിന്‍ സുതനോശാന</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>കര്‍ത്താവിന്‍ പൂജിത നാമത്തില്‍<br>
					വന്നവനെ വാഴ്ത്തിപ്പാടിടുവിൻ<br>
					വിണ്ണിന്‍പൂവേദിയിലോശാന<br>
					ദാവീദിന്‍ സൂനുവിനോശാന</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>ബാലകരും തീര്‍ത്ഥകരും<br>
					നാഥനു ജയ്ഗാനം പാടുന്നു.<br>
					പൂതുമലരും തളിരിലയും<br>
					നാഥനു ജയ്ഗാനം പാടുന്നു.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>ജയ്‌ വിളിയാല്‍ ചില്ലകളുണരുന്നു:<br>
					പാതകളില്‍ തോരണമിളകുന്നു;<br>
					ദൈവസുതന്‍ വിനയവിരാജിതനായ്‌<br>
					അണയുന്നു നഗര കവാടത്തില്‍</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>വിണ്ടലവും ഭൂതലവും<br>
					മംഗള ഗീതിയില്‍ മുഴുകുന്നു:<br>
					വാനവരും മാനവരും<br>
					നൂതന സന്തോഷം നുകരുന്നു.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>വെണ്‍നുരയാലാഴിയലംകൃതമായ്‌;<br>
					നീലിമയാലംബര വീഥികളും.<br>
					കാനനവും കാഞ്ചന പൂവനവും<br>
					നാഥനു സൗരഭ്യം പകരുന്നു.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="title">
					<p class="maintitle">കുരുത്തോല പ്രദിക്ഷണം</p>
					<p class="subtitle">(കുരിശ്, ധൂപം, തിരികൾ, സുവിശേഷ ഗ്രന്ഥം എന്നിവ വഹിക്കുന്നവർ ഏറ്റം മുമ്പിലും കാർമ്മികൻ ഏറ്റം പുറകിലുമായിരിക്കണം. പ്രദിക്ഷണ സമയത്ത് താഴെ കാണുന്ന ഗീതങ്ങൾ ആലപിക്കുന്നു).</p>
				</div>
				<div class="title">
					<p class="maintitle">ഗീതം 1</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓശാന ഓശാന<br>
					ദാവീദിന്‍ സുതനോശാന</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>സെഹിയോന്‍പുത്രീ, മോദം പുണരുക<br>
					നിന്നുടെ നാഥനിതാ<br>
					പ്രതാപവാനായ്‌ വരുന്നു പൊന്നിന്‍<br>
					കീര്‍ത്തന വീചികളില്‍</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>വിനീതനായൊരു കഴുതക്കുഞ്ഞിന്‍<br>
					പുറത്തെഴുന്നള്ളി<br>
					സൈത്തിന്‍ ചില്ലകള്‍ വിതറിയ വഴിയേ<br>
					വരുന്നു ദൈവസുതന്‍</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>നിരയായ്‌ നീങ്ങും ബാലികമാരുടെ<br>
					കീര്‍ത്തന മുയരുമ്പോള്‍<br>
					ബാലന്മാരുടെ കൈയില്‍ ചില്ലകള്‍<br>
					താളം തൂള്ളൂന്നു</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓശാനകളാലാഴിചലിക്കു-<br>
					ന്നംബരമുണരുന്നു;<br>
					സ്വരവീചികളാ ലവനീവാസികള്‍<br>
					പുളകം കൊള്ളുന്നു.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="title">
					<p class="maintitle">ഗീതം 2</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓശാന ഓശാന<br>
					ദാവീദിന്‍ സുതനോശാന</p>
				</div>
				<div class="section paragraph-song">
					<p>കര്‍ത്താവിന്‍ തിരുനാമത്തില്‍<br>
					വന്നവനുന്നതനോശാന<br>
					ദൈവകുമാരകനോശാന<br>
					വാനവ വീഥിയിലോശാന.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>സൈത്തിന്‍ ചില്ലകള്‍ വിതറുകയായ്‌<br>
					ജയസ്വര വീചികളുയരുകയായ്‌<br>
					ബാലകനിരയുടെ പാണികളില്‍<br>
					ചില്ലകള്‍ താളം തുള്ളുകയായ്‌.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>വിനയാന്വിതനായ്‌ ദൈവസുതന്‍<br>
					വരുന്നു നഗര കവാടത്തില്‍<br>
					വാനവ മാനവ വൃന്ദങ്ങള്‍<br>
					വിണ്ണിന്‍ നാഥനെ വാഴ്ത്തുകയായി.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>കീര്‍ത്തന വീചികളുയരുകയായ്‌<br>
					പാര്‍ത്തല മാര്‍ത്തു വിളിക്കുകയായ്‌<br>
					അംബര വീഥികളുണരുകയായ്‌<br>
					അംബുദ വീഥികള്‍ തെളിയുകയായ്‌.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>രാജാവാഗതനാകും പോല്‍<br>
					രക്ഷാനായക നണയുകയായ്‌<br>
					വിണ്ടല നാഥനെഴുന്നള്ളൂം<br>
					വേളയില്‍ മോദം നിറയുകയായ്‌.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="section paragraph-song">
					<p>കഴുതക്കുഞ്ഞിന്‍ പുറമേറി-<br>
					ക്കരുണാ രൂപന്‍ വന്നണയും<br>
					നിമിഷങ്ങളിലാ ജനവൃന്ദം<br>
					നിര്‍വൃതി ജയ് വിളിയാക്കുകയായ്.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">ഓശാന ...</p>
				</div>
				<div class="title">
					<p class="subtitle">(പ്രദിക്ഷണം ദേവാലയത്തിന്റെ അടഞ്ഞുകിടക്കുന്ന പ്രധാന കവാടത്തിലെത്തുമ്പോൾ കാർമ്മികൻ സ്വരമുയർത്തി പറയുന്നു )</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b>വാതിലുകളേ, ശിരസ്സയര്‍ത്തുവിന്‍;<br>
							നിത്യകവാടങ്ങളെ, തുറക്കുവിന്‍;<br>
						മഹത്ത്വത്തിന്റെ രാജാവ്‌ എഴുന്നള്ളുന്നു.</p>
				</div>
				<div class="title">
					<p class="subtitle">(പ്രദിക്ഷണത്തിൽ സംവഹിക്കപെടുന്ന കുരിശിന്റെ ചുവടുകൊണ്ട് കാർമ്മികൻ വാതിലിൽ മുട്ടുന്നു)</p>
				</div>
				<div class="section paragraph">
					<p><b>അകുത്തുള്ളവര്‍:&nbsp;</b> ഈ മഹത്വത്തിന്റെ രാജാവ്‌ ആരാകുന്നു?</p>
					<p><b>പുറത്തുള്ളവര്‍:&nbsp;</b>പ്രതാപവാനും ശക്തനുമായ കര്‍ത്താവുതന്നെ.</p>
				</div>
				<div class="title">
					<p class="subtitle">(ഇപ്രകാരം മൂന്നുപ്രാവശ്യം പറയുന്നു. മൂന്നാം പ്രാവശ്യം വാതിലിൽ മുട്ടുമ്പോൾ വാതിൽ അകത്തുനിന്നു  തുറക്കുന്നു. കാർമ്മികനെയും സഹശുശ്രൂഷകരെയും അനുഗമിച്ച എല്ലാരും ദേവാലയത്തിൽ പ്രവേശിക്കുന്നു).</p>
				</div>
				<div class="title">
					<p class="maintitle">ഗീതം</p>
				</div>
				<div class="section paragraph-song">
					<p>മഹേശ്വരാ, നിന്‍ സുദിനം കാണാന്‍<br>
					കുഴിഞ്ഞ കണ്ണിനു സൗഭാഗ്യം;<br>
					മനോജ്ഞമാം നിന്‍ ഗീതികള്‍ പാടാന്‍<br>
					കഴിഞ്ഞനാവിനു സൗഭാഗ്യം</p>
				</div>
				<div class="section paragraph-song">
					<p>നൂറുനൂറു കണ്ണുകള്‍ പണ്ടേ<br>
					അടഞ്ഞു നിന്നെക്കാണാതെ:<br>
					നൂറു നൂറു മലരുകള്‍ പണ്ടേ<br>
					കൊഴിഞ്ഞുപോയി കണ്ണീരില്‍.</p>
				</div>
				<div class="section paragraph-song">
					<p class="right-align rossary-helper">മഹേശ്വരാ...</p>
				</div>
				<div class="title">
					<p class="maintitle">കാറോസൂസ</p>
				</div>
				<div class="section prayer-set">
					<p><b>ശുശ്രൂഷി:&nbsp;</b>നമുക്കെല്ലാവര്‍ക്കും ഭക്തിയോടും സന്തോഷത്തോടുംകൂടെ നിന്ന്‌, വിനീതനായി ഓര്‍ശ്ശേമില്‍ പ്രവേശിച്ച മിശിഹായെ ധ്യാനിച്ചുകൊണ്ട്‌, ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു എന്ന്‌ ഏറ്റുപറയാം.</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>സകല ജനപദങ്ങളും മിശിഹായെ രക്ഷകനും നാഥനുമായി അംഗീകരിക്കുവാനും ഏറ്റുപറയുവാനും ഇടയാക്കുന്ന കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>ഭൂമിയില്‍ മിശിഹായ്ക്ക്‌ സ്തുതിഗീതങ്ങള്‍ ആലപിക്കുന്ന ഞങ്ങളെ, സ്വര്‍ഗത്തില്‍ അവിടുത്തെ മഹത്ത്വപ്പെടുത്തുവാന്‍ അനുഗ്രഹിക്കുന്ന കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b> മിശിഹായെപ്പോലെ വിനയത്തോടും എളിമയോടും കൂടെ ജീവിക്കുവാന്‍ ഞങ്ങളെ പഠിപ്പിച്ച കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>ഹെബ്രായ പൈതങ്ങളുടെ സ്തൂതിഗീതങ്ങള്‍ സ്വീകരിച്ച്‌ അവരെ അനുഗ്രഹിച്ച കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>ഞങ്ങളുടെ പിതാക്കന്മാരോടു ചെയ്തു വാഗ്ദാനങ്ങള്‍ നിറവേറ്റിയ കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>സാർവ്വത്രികസഭയുടെ തലവനും ഭരണാധികാരിയുമായ മാര്‍ (പേര്‌) മാര്‍പ്പാപ്പയെയും, ഞങ്ങളുടെ സഭയുടെ തലവനും പിതാവുമായ മാര്‍ (പേര്‌) മെത്രാപ്പോലീത്തയെയും, ഞങ്ങളുടെ അതിരൂപതാധ്യക്ഷനായ മാര്‍ (പേര്‌) മെത്രാപ്പോലീത്തായെയും ഞങ്ങളുടെ മേലധ്യക്ഷനും പിതാവുമായ മാര്‍ (പേര്‌) മെത്രാനെയും അവരുടെ സഹശുശ്രൂഷികളെയും അനുഗ്രഹിക്കുകയും പാലിക്കുകയും ചെയ്യുന്ന കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b>സ്വര്‍ഗ്ഗത്തില്‍ സ്തുതിക്കപ്പെടുന്നവനും ഭൂമിയില്‍ ആരാധിക്കപ്പെടുന്നവനുമായ കര്‍ത്താവേ,</p>
					<p><b>സമൂഹം:&nbsp;</b>ഓശാന പാടി ഞങ്ങള്‍ നിന്നെ സ്തുതിക്കുന്നു.</p>
					<p><b>ശുശ്രൂഷി:&nbsp;</b> നമുക്കെല്ലാവര്‍ക്കും നമ്മെയും നാമോരോരുത്തരെയും പിതാവിനും പൂത്രനും പരിശുദ്ധാത്മാവിനും സമര്‍പ്പിക്കാം.</p>
					<p><b>സമൂഹം:&nbsp;</b>ഞങ്ങളുടെ ദൈവമായ കര്‍ത്താവേ, അങ്ങേക്കു ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്നു.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b>സ്വര്‍ഗ്ഗത്തിന്റെയും ഭൂമിയുടെയും കര്‍ത്താവും രാജാവുമായ മിശിഹായേ, അങ്ങയെ ഞങ്ങള്‍ ആരാധിക്കുന്നു. അങ്ങയുടെ പ്രിയപുത്രന്റെ മരണത്തിലും ഉത്ഥാനത്തിലും പങ്കചേരാനും, മാനസാന്തരത്തിന്റെ ഫലങ്ങള്‍ പുറപ്പെടുവിക്കാനും ഞങ്ങളെ അനുഗ്രഹിക്കണമേ. ഭൂമിയില്‍ അങ്ങേക്ക്‌ ഓശാന ഗീതികള്‍ ആലപിക്കുന്ന ഞങ്ങളെ അങ്ങയുടെ മഹത്വത്തില്‍ പ്രവേശിപ്പിക്കണമേ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="subtitle">(തുടർന്നുള്ള ഭാഗങ്ങൾ കുർബാന പുസ്തകത്തിൽ നിന്ന്)</p>
				</div>
				<div class="title">
					<p class="maintitle">ദിവ്യരഹസ്യ ഗീതം</p>
					<p class="subtitle">(രീതി മിശിഹാ കർത്താവിന് തിരുമെയ് ...)</p>
				</div>
				<div class="section">
					<p><b>കർത്താവേ ഭൂമിയിലെങ്ങും അവിടുത്തെ നാമം എത്ര മഹനീയമാകുന്നു</b></p>
				</div>
				<div class="section paragraph-song">
					<p>മേഘത്തേരേറി, വന്നവനെപ്പോലെ<br>
					ബാലകര്‍ കീര്‍ത്തിച്ചു.<br>
					ദൈവിക ഭവനം പൂകിടുവാന്‍<br>
					അണയുന്നീശോ വിനയമൊടെ<br>
					ഉന്നത വീഥിയിലോശാന,<br>
					നിത്യം രക്ഷകനോശാന,<br>
					ഉന്നതനാം നാഥന്‍ സംപൂജ്യന്‍.</p>
				</div>
				<div class="section">
					<p><b>അവരുടെ നാവുകൾ മൂർച്ചയുള്ള വാളുകൾപോലെയാകുന്നു.</b></p>
					<p>മേഘത്തേരേറി, വന്നവനെപ്പോലെ ...</p>
				</div>
				<div class="section">
					<p><b>കർത്താവിന്റെ നാമം സീയോനിൽ പ്രഘോഷിക്കപെടും.</b></p>
					<p>മേഘത്തേരേറി, വന്നവനെപ്പോലെ ...</p>
				</div>
				<div class="title">
					<p class="maintitle">ദിവ്യകാരുണൃഗീതവും അനുഗീതവും</p>
					<p class="subtitle">(രീതി: മിശിഹാ കർത്താവിന് തിരുമെയ് ...)</p>
				</div>
				<div class="section paragraph-song">
					<p>ജനതകളെല്ലാമണയുക വേഗം<br>
					ദിവ്യരഹസ്യം കൈക്കൊള്ളാനായ്‌</p>
				</div>
				<div class="section paragraph-song">
					<p>മുന്നിലതാ മുറിവേറ്റ ശരീരം,<br>
					ചിന്തിയ രക്തവു മുള്‍ക്കൊള്ളാം നാം.</p>
				</div>
				<div class="section paragraph-song">
					<p>പാപവിമോചനമേകും കനലിതു<br>
					ജീവിപ്പിച്ചു മര്‍ത്യരെയെല്ലാം.</p>
				</div>
				<div class="section paragraph-song">
					<p>ഏക സ്വരത്തില്‍ വാഴ്ത്തിപ്പാടാം<br>
					വാനവരൊപ്പം ഹല്ലേലൂയ.</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b>നമ്മെ ജീവിപ്പിക്കുന്ന കര്‍ത്താവീശോമിശിഹായുടെ കൃപാവരം / അവിടുത്തെ കാരുണ്യത്താല്‍ നാമെല്ലാവരിലും + സമ്പൂര്‍ണ്ണമാകട്ടെ (ജനങ്ങളെ ആശീർവ്വദിക്കുന്നു).</p>
					<p><b>സമൂഹം:&nbsp;</b>എപ്പോഴും എന്നേക്കും ആമ്മേന്‍.</p>
				</div>
				<div class="section paragraph-song">
					<p>ഓശാനകളാല്‍ ബാലകരെല്ലാം<br>
						നാഥനെ വാഴ്ത്തിപ്പാടുകയായി</p>
				</div>
				<div class="section paragraph-song">
					<p>ദാവീദിന്‍ സുതനുന്നതനെന്നും<br>
					മാനവ രക്ഷക നവിടുന്നല്ലോ.</p>
				</div>
				<div class="section paragraph-song">
					<p>ദിവ്യ ശരീരവു മതുപോല്‍ രക്തവു-<br>
					മേകിയ നാഥനു നന്ദി നിതാന്തം.</p>
				</div>
				<div class="title">
					<p class="maintitle">കൃതജ്ഞതാ പ്രാര്‍ത്ഥനകള്‍</p>
				</div>
				<div class="section paragraph">
					<p><b>കാര്‍മ്മി:&nbsp;</b> കര്‍ത്താവായ ദൈവമേ, മിശിഹായുടെ മരണവും ഉത്ഥാനവും അനുസ്മരിക്കുന്ന ഈ പരിഹാര ബലിയില്‍ പങ്കുചേരാനും ദിവ്യരഹസ്യങ്ങള്‍ സ്വീകരിക്കുവാനും ഇടയാക്കിയതിന്‌ ഞങ്ങള്‍ അങ്ങയോടു നന്ദിപറയുന്നു. ഞങ്ങളൂടെ ജീവിതസമര്‍പ്പണംവഴി നിന്നെ മഹത്ത്വപ്പെടുത്തുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വേശ്വരാ, എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍. കര്‍ത്താവേ, ആശീര്‍വദിക്കണമേ.</p>
					<p><b>കാര്‍മ്മി:&nbsp;</b> ഓശാന ഗീതങ്ങളുടെ മധ്യേ ജറുസലെമില്‍ പ്രവേശിച്ച കര്‍ത്താവേ, ഓശാനപാടി നിന്നെ സ്തുതിക്കുവാൻ ഞങ്ങളെയും യോഗ്യരാക്കിയതിന്‌ ഞങ്ങള്‍ നിനക്കു നന്ദി പറയുന്നു. നിന്റെ പെസഹാരഹസ്യത്തില്‍ പങ്കുചേര്‍ന്നവരായ ഞങ്ങള്‍ സ്വര്‍ഗ്ഗീയ ജെറുസലെമില്‍ എത്തിച്ചേരുവാനും, അവിരാമം നിന്നെ മഹത്ത്വപ്പെടുത്തുവാനും ഇടയാകട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="maintitle">സമാപനാശീര്‍വാദം</p>
					<p class="subtitle">(രീതി: കർത്താവാം മിശിഹാവഴിയായ് ...)</p>
				</div>
				<div class="section paragraph-song">
					<p><b>കാര്‍മ്മി:&nbsp;</b>നരരക്ഷകനും നാഥനുമായ്‌<br>
						ധരയിലണഞ്ഞൊരു മിശിഹായെ<br>
						നൽകിയ താതനു വന്ദനവും<br>
						സ്തുതിയുമണക്കാം സാമോദം.</p>
				</div>
				<div class="section paragraph-song">
					<p>എളിയൊരു കഴുതപ്പുറമേറി<br>
					വന്നൊരു രാജനെ വന്ദിക്കാന്‍<br>
					ഓശാനകളാല്‍ വാഴ്ത്തിടുവാൻ<br>
					ഇടയാക്കണമേ റൂഹായേ.</p>
				</div>
				<div class="section paragraph-song">
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="section paragraph-song">
					<p><b>കാര്‍മ്മി:&nbsp;</b>പീഡ സഹിക്കാന്‍, കുരിശേറാന്‍<br>
					ഓർശ്ലേം പൂകിയ തിരുനാഥന്‍<br>
					ത്യാഗമോടെന്നും ജീവിക്കാന്‍<br>
					നിത്യമനുഗ്രഹമരുളട്ടെ.</p>
				</div>
				<div class="section paragraph-song">
					<p>മന്നിതില്‍ നിങ്ങള്‍ സ്തൂതിപാടി<br>
					വിണ്ണിലുമവനെ വാഴ്ത്തിടുവാൻ<br>
					ദൈവം വരനിരചൊരിയട്ടെ +<br>
					ഇപ്പൊഴുമെപ്പൊഴുമെന്നേക്കും.</p>
				</div>
				<div class="section paragraph-song">
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
				<div class="title">
					<p class="subtitle">(അല്ലെങ്കിൽ)</p>
				</div>
				<div class="section">
					<p><b>കാര്‍മ്മി:&nbsp;</b> രക്ഷകനും നാഥനുമായി തന്റെ പ്രിയപുത്രനെ ലോകത്തിലേക്കയച്ച പിതാവായ ദൈവത്തെ നമുക്കു സ്തൂതിക്കാം. കഴുതപ്പുറത്ത്‌ എഴുന്നള്ളി വിനയത്തിന്റെ മാതൃക നല്ലിയ മിശിഹായെ നമുക്ക്‌ ആരാധിക്കാം. കര്‍ത്താവിന്റെ സ്തൂതികള്‍ ആലപിക്കുവാന്‍ നമ്മെ ശക്തരാക്കുന്ന പരിശുദ്ധാത്മാവിനെ നമുക്കു മഹത്ത്വപ്പെടുത്താം. പീഡകള്‍ സഹിക്കുവാനും കുരിശില്‍ മരിക്കുവാനും ജറുസലേമില്‍ പ്രവേശിച്ച കര്‍ത്താവ്‌, ത്യാഗങ്ങള്‍ സഹിച്ച്‌ ദൈവഹിതം നിറവേറ്റുവാന്‍ നമ്മെ ശക്തരാക്കട്ടെ. സകലരും മിശിഹായെ രക്ഷകനും രാജാവുമായി ഏറ്റുപറയുവാന്‍ ഇടയാകട്ടെ. ദൈവത്തിന്റെ ജനമേ, ഭൂമിയില്‍ അവിടുത്തേക്ക്‌ ഓശാനപാടി സ്തുതിക്കുന്ന നിങ്ങള്‍ സ്വര്‍ഗ ത്തില്‍ അനവരതം അവിടുത്തെ മഹത്ത്വപ്പെടുത്തുവാന്‍ യോഗ്യരാകട്ടെ. ഇപ്പോഴും + എപ്പോഴും എന്നേക്കും.</p>
					<p><b>സമൂഹം:&nbsp;</b>ആമ്മേന്‍.</p>
				</div>
			</div>
		</div>
	</body>
</html>