<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../css/prayers.css">
	</head>
	<body class="malayalam">
		<div class="main-wrapper">
			<div class="cover page-content">
				<div class="prayer-cover english-title">
					<div class="logo">
						<img src="../images/st-alphonsa.jpg">
					</div>
					<p class="prayer-title">St. Alphonsa Novena</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">പ്രാരംഭഗാനം</p>
				</div>
				<p class="small-label">1</p>
				<div class="section">
					<p>അൽഫോൻസാമ്മയെ നിത്യം<br>
					അത്ഭുത സിദ്ധി നൽകി<br>
					ആദരിച്ച ദൈവമേ<br>
					വാഴ്ത്തുന്നു നിന്നെ ഞങ്ങൾ</p>
				</div>
				<div class="section paragraph">
					<p>അൽഫോൻസാമ്മ വഴിയായി<br>
					അർത്ഥിക്കും ദാസർക്കായ് നീ<br>
					ദാനങ്ങൾ വർഷിച്ചാലും<br>
					സ്‌നേഹേശാ ഈശോ നാഥാ </p>
					<p style="text-align: right;">(അൽഫോൻസാമ്മയെ)</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">പ്രാരംഭപ്രാര്‍ത്ഥന</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: സ്‌നേഹപിതാവായ ദൈവമേ, ഞങ്ങളെ ഓരോരുത്തരേയും തിരുസന്നിധിയില്‍  ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്നു. അങ്ങയുടെ വത്സലപുത്രന്റെ മണവാട്ടിയും ഞങ്ങളുടെ സഹോദരിയുമായ അല്‍ഫോന്‍സാമ്മയെ വിശുദ്ധിയിലേക്കുയര്‍ത്തിയ അങ്ങയുടെ കാരുണ്യത്തെ ഞങ്ങള്‍ ഏററ് പറഞ്ഞ് സ്തുതിക്കുകയും അങ്ങേക്ക് നന്ദി പറയുകയും ചെയ്യുന്നു. ഞങ്ങളെ അനന്തമായി സ്‌നേഹിക്കുന്ന ദൈവമേ, സഹനത്തിന്റേയും ത്യാഗത്തിന്റേയും സ്‌നേഹത്തിന്റേയും പാതയിലൂടെ സ്വജീവിതത്തെ സമര്‍പ്പിച്ച വി. അല്‍ഫോന്‍സാമ്മയെ അനുകരിച്ച് ഞങ്ങളുടെ ജീവിതത്തേയും പുണ്യപാതയിലൂടെ നയിക്കുവാന്‍ അനുഗ്രഹിക്കണമെ. ഞങ്ങളെത്തന്നെ വിശുദ്ധീകരിച്ചുകൊണ്ട് അങ്ങയുടെ സന്നിധിയില്‍ യോഗ്യതയോടെ പ്രാര്‍ത്ഥിക്കുവാന്‍ ഞങ്ങളെ ശക്തരാക്കുകയും ചെയ്യണമേ. ആമ്മേന്‍ </p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">സങ്കീര്‍ത്തനം 25/1-10</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: കര്‍ത്താവേ, എന്റെ ആത്മാവിനെ അങ്ങയുടെ സന്നിധിയിലേയ്ക്ക് ഞാന്‍ ഉയര്‍ത്തുന്നു.</p>
					<p>സമൂ: ദൈവമേ, അങ്ങയില്‍ ഞാന്‍ ആശ്രയിക്കുന്നു.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: കര്‍ത്താവേ, അങ്ങയുടെ മാര്‍ഗ്ഗങ്ങള്‍ എനിക്ക് മനസ്സിലാക്കിത്തരണമേ, അങ്ങയുടെ പാതകള്‍ എന്നെ  പഠിപ്പിക്കണമേ.</p>
					<p>സമൂ: അങ്ങയുടെ സത്യത്തിലേക്ക് എന്നെ നയിക്കണമേ. എന്തെന്നാല്‍ അങ്ങാണല്ലോ എന്നെ രക്ഷിക്കുന്ന ദൈവം.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: അങ്ങേക്കുവേണ്ടി ദിവസം മുഴുവന്‍ ഞാന്‍ കാത്തിരിക്കുന്നു</p>
					<p>സമൂ: കര്‍ത്താവേ, പണ്ടുമുതലേ അങ്ങു ഞങ്ങളോടു കാണിച്ച കാരുണ്യവും വിശ്വസ്തതയും അനുസ്മരിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി:  എന്റെ യൗവ്വനത്തിലെ പാപങ്ങളും അതിക്രമങ്ങളും അങ്ങ് ഓര്‍ക്കരുതേ!</p>
					<p>സമൂ:  കര്‍ത്താവേ, അങ്ങയുടെ അചഞ്ചല സ്‌നേഹത്തിനനുസൃതമായി കരുണാപൂര്‍വ്വം എന്നെ അനുസ്മരിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: കര്‍ത്താവ് നല്ലവനും നീതിമാനുമാണ്. പാപികള്‍ക്ക് അവിടുന്ന് നേര്‍വഴി കാട്ടുന്നു.</p>
					<p>സമൂ:  എളിയവനെ അവിടുന്ന് നീതിമാര്‍ഗ്ഗത്തില്‍ നയിക്കുന്നു. വിനീതരെ തന്റെ വഴി പഠിപ്പിക്കുന്നു.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: കര്‍ത്താവിന്റെ ഉടമ്പടിയും പ്രമാണങ്ങളും പാലിക്കുന്നവര്‍ക്ക് അവിടുത്തെ വഴികള്‍ സത്യവും സ്‌നേഹവുമാണ്.</p>
					<p>സമൂ:  പിതാവിനും പുത്രനും പരിശുദ്ധാത്മാവിനും സ്തുതി. ആദിമുതല്‍ എന്നേയ്ക്കും ആമ്മേന്‍.</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">പ്രാര്‍ത്ഥിക്കാം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: പിതാവായ ദൈവമേ, (എല്ലാവരും ചേര്‍ന്ന്) ഞങ്ങളോടുള്ള സ്‌നേഹത്തെപ്രതി/ അവിടുത്തെ തിരുക്കുമാരനായ ഈശോയെ/  ഞങ്ങള്‍ക്ക് രക്ഷകനായി നല്കിയല്ലോ. ഈശോയുടെ മാതൃകയില്‍/ സ്‌നേഹത്തിന്റെയും ത്യാഗത്തിന്റെയും/ സഹനത്തിന്റെയും പാത സ്വീകരിച്ച്/  സ്വയം ബലിയായി ത്തീരുവാന്‍/ അല്‍ഫോന്‍സാമ്മയെ അങ്ങ് സജ്ജമാക്കിയല്ലോ/ ഗോതമ്പുമണി നിലത്തു വീണ് അഴിയുന്നില്ലെങ്കില്‍/ അതു വെറുതെയിരിക്കുന്നു. അഴിയുന്നെങ്കിലോ/ അത് വളരെ ഫലം പുറപ്പെടുവിക്കുന്നു./ എന്ന് അരുളിച്ചെയ്ത ഈശോനാഥാ, അങ്ങയുടെ ആഹ്വാനമനുസരിച്ച്/ സ്വയം ഇല്ലാതായി/ മഹത്ത്വത്തിന്റെ ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുവാന്‍/ വിശുദ്ധ അല്‍ഫോന്‍സായെ അനുഗ്രഹിച്ച/ അങ്ങയുടെ അനന്തകാരുണ്യത്തിന്/ ഞങ്ങള്‍ നന്ദി പറയുന്നു. രക്ഷകനായ ഈശോയെ/ അങ്ങയെ സ്‌നേഹിക്കുവാനും/ അവിടുത്തെ പദ്ധതികളോട്/ പൂര്‍ണ്ണമായി സഹകരിക്കുവാനും/ ഞങ്ങളെ സഹായിക്കണമേ. ദൈവഹിതം കണ്ടെത്തി സ്വയം സമര്‍പ്പിച്ച/ വിശുദ്ധ അല്‍ഫോന്‍സാമ്മേ/ ഞങ്ങള്‍ക്കുവേണ്ടി മാദ്ധ്യസ്ഥം വഹിക്കണമേ. ആമ്മേന്‍.</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">ഒന്നാം ദിവസം</p>
					<p class="subtitle">സഹനദാസി</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം - ഹെബ്രാ. 12:4-13</p>
					<p class="subtitle">സുവിശേഷം - മര്‍ക്കോസ് 8:31-38</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: നിത്യപിതാവിന്റെ തിരുഹിതം നിറവേററി കാല്‍വരിയില്‍ ജീവന്‍ ബലിയര്‍പ്പിച്ച് സ്‌നേഹനാഥാ, അങ്ങയുടെ അനന്തമായ സ്‌നേഹത്തിനും പരമമായ കാരുണ്യത്തിനും മഹനീയമായ രക്ഷാകര്‍മ്മത്തിനും ഞങ്ങള്‍ നന്ദി പറയുന്നു. ആരെങ്കിലും എന്റെ പിന്നാലെ വരുവാന്‍ ആഗ്രഹിക്കുന്നെങ്കില്‍ അവന്‍ തന്നെത്തന്നെ പരിത്യജിച്ച് തന്റെ കുരിശുമെടുത്തുകൊണ്ട് എന്നെ അനുഗമിക്കട്ടെ എന്ന അങ്ങയുടെ വചനം ആത്മാര്‍ത്ഥമായി സ്വീകരിക്കുവാന്‍ വിശുദ്ധ അല്‍ഫോന്‍സായ്ക്ക് സാധിച്ചുവല്ലോ. കര്‍ത്താവിന്റെ കുരിശിന്റെ ഓഹരി എനിക്കുണ്ട്. ഞാന്‍ കര്‍ത്താവിനോടുകൂടി കുരിശിലാണ് എന്ന് ഉദീരണം ചെയ്തുകൊണ്ട് തന്റെ ജീവിതത്തിന്റെ ഉത്തരവാദിത്വങ്ങളെയും സമൂഹജീവിതത്തിന്റെ ക്ലേശങ്ങളെയും ശാരിരിക രോഗങ്ങളുടെ വ്യഥകളെയും സന്തോഷപൂര്‍വ്വം നിത്യപിതാവിന് ബലിയായി സമര്‍പ്പിച്ച അല്‍ഫോന്‍സാമ്മയുടെ മാതൃക അനുകരിക്കുവാന്‍ ഞങ്ങളെ സഹായിക്കേണമേ. ഞങ്ങളുടെ അനുദിന ജീവിതത്തിലെ ക്ലേശങ്ങളാകുന്ന കുരിശുകളെ അങ്ങേയ്ക്ക് പ്രീതികരവും സ്വീകാര്യവും പരിശുദ്ധവുമായ ബലിയായി അര്‍പ്പിക്കുവാന്‍ ഞങ്ങളെ ശക്തരാക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേയ്ക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">രണ്ടാം ദിവസം</p>
					<p class="subtitle">സമ്പൂര്‍ണ്ണ സമര്‍പ്പണം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം - ഫിലി 3:7-11</p>
					<p class="subtitle">സുവിശേഷം - മത്തായി 19:16-30</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി:  എന്റെ പിതാവിന്റെ ഇഷ്ടം നിറവേററുന്നതാണ് എന്റെ ഇഷ്ടം. എന്നരുളിച്ചെയ്ത കര്‍ത്താവായ ഈശോയേ, അങ്ങയെ ഞങ്ങള്‍ ആരാധിക്കുകയും സ്തുതിക്കുകയും ചെയ്യുന്നു. എന്നെ മുഴുവനും ഞാന്‍ എന്റെ കര്‍ത്താവിന് വിട്ടുകൊടുത്തിരിക്കുകയാണ് എന്ന് ഏററുപറഞ്ഞു ജീവിച്ച വിശുദ്ധ അല്‍ഫോന്‍സാ ഞങ്ങളുടെ ജീവിതത്തിന്റെ മാതൃകയും വഴികാട്ടിയുമാണല്ലോ. ഈ ലോകജീവിതത്തിന്റെ ആകുലതകളും ഉത്കണ്ഠകളും വെടിഞ്ഞ്, എന്റെ രക്ഷയ്ക്കുതകുന്നതു മാത്രമേ എന്റെ കര്‍ത്താവ് എനിക്ക് തരുകയുള്ളു എന്നുള്ള ജീവദായകവിശ്വാസം എനിക്കു നല്കണമേ. ജീവിതത്തിന്റെ എല്ലാ പ്രതിസന്ധികളിലും, മനസ്സുപതറാതെ, അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, കര്‍ത്താവ് എന്റെ ഇടയനാകുന്നു. എനിക്കൊന്നിനും കുറവുണ്ടാവുകയില്ല എന്ന ദൃഢവിശ്വാസത്തോടെ അങ്ങില്‍ മാത്രം ആശ്രയിച്ച് ദൈവഹിതത്തിന് വിധേയപ്പെട്ട് ജീവിക്കുവാന്‍ ഞങ്ങളെ ശക്തരാക്കേണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേയ്ക്കും</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">മൂന്നാം ദിവസം</p>
					<p class="subtitle">ദൈവസ്‌നേഹം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം - റോമ 8:31-39</p>
					<p class="subtitle">സുവിശേഷം - യോഹ 15:1-17</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: നിത്യജീവന്‍ പ്രാപിക്കുവാന്‍ ആഗ്രഹിക്കുന്നവര്‍, ദൈവമായ കര്‍ത്താവിനെ പൂര്‍ണ്ണഹൃദയത്തോടും  പൂര്‍ണ്ണ ആത്മാവോടും പൂര്‍ണ്ണശക്തിയോടും പൂര്‍ണ്ണമന സ്സോടുകൂടെ സ്‌നേഹിക്കണമെന്ന് അരുളിച്ചെയ്ത് കര്‍ത്താവേ, സമ്പൂര്‍ണ്ണമായ ദൈവസ്‌നേഹം ഞങ്ങളില്‍ ഉളവാക്കണമേ. രോഗത്തിന്റെ അസ്വസ്ഥതകളാല്‍ ഉറങ്ങാന്‍ പററാത്ത അവസരങ്ങളില്‍പ്പോലും ഞാന്‍ എന്റെ ഈശോയെ സ്‌നേഹിക്കുകയാണ് എന്നു പറഞ്ഞ അല്‍ഫോന്‍സാമ്മയുടെ ജീവിതം ഞങ്ങള്‍ക്ക് പ്രചോദനമായിത്തീരട്ടെ. തിരുവചനത്തിന്റെ മുമ്പില്‍ തന്റെ ഹൃദയാഭിലാഷങ്ങളെ അടിയറവച്ചുകൊണ്ട് അങ്ങേ സ്‌നേഹാഗ്നിജ്വാലയിലെ ഒരു കണികയായി മാറുവാന്‍ ആഗ്രഹിച്ച അല്‍ഫോന്‍സാമ്മയെപ്പോലെ ഞങ്ങളുടെ ജീവിതത്തില്‍ വചനത്തിനനുസൃതമായ മാനസാന്തരം വരുത്തിക്കൊണ്ട് അവിടുത്തെ സ്‌നേഹത്തിന്റെ ആഴം രുചിച്ചറിയുവാനുള്ള അനുഗ്രഹം ഞങ്ങള്‍ക്കു നല്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">നാലാം ദിവസം</p>
					<p class="subtitle">പരസ്‌നേഹം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം -  1 യോഹ 3:11-24 </p>
					<p class="subtitle">സുവിശേഷം -  ലൂക്കാ 10:25-37</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി:  ഞാന്‍ നിങ്ങള്‍ക്ക് ഒരു പുതിയ കല്പന തരുന്നു. ഞാന്‍ നിങ്ങളെ സ്‌നേഹിച്ചതുപോലെ നിങ്ങളും പരസ്പരം സ്‌നേഹിക്കുവിന്‍, നിങ്ങളുടെ പരസ്പരസ്‌നേഹം കണ്ട് നിങ്ങള്‍ എന്റെ ശിഷ്യരാണെന്ന് ലോകം അറിയട്ടെ എന്നരുളിച്ചെയ്ത ഈശോനാഥാ, സ്വയം പരിത്യജിച്ചുകൊണ്ട് എന്റെ കുടുംബത്തിലും എന്റെ പ്രവര്‍ത്തന മണ്ഡലങ്ങളിലും അങ്ങയുടെ സ്‌നേഹത്തിന് സാക്ഷ്യം വഹിക്കുവാന്‍ എന്നെ ശക്തിപ്പെടുത്തണമേ. തന്നെ ദ്രോഹിച്ചവര്‍ക്കുവേണ്ടി പരിഹാരം ചെയ്ത് പ്രാര്‍ത്ഥിക്കുകയും അവരോടു കരുതലുള്ള സ്‌നേഹം കാണിക്കുകയും ചെയ്ത അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, തിരിച്ചു കിട്ടുമെന്നുള്ള നന്മ ചെയ്യുവാനും ക്ഷമിക്കുന്ന സ്‌നേഹത്തിലൂടെ അങ്ങയുടെ സ്‌നേഹം പകര്‍ന്നു നല്കുവാനും ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. പിതാവും  പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">അഞ്ചാം ദിവസം</p>
					<p class="subtitle">വിനയം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം -  ഫിലി 2:5-10</p>
					<p class="subtitle">സുവിശേഷം -  ലൂക്കാ 14:7-11</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ഞാന്‍ ശാന്തശീലനും വിനീതഹൃദയനുമാണ്. നിങ്ങള്‍ എന്നില്‍ നിന്ന് പഠിക്കുവിന്‍ എന്നരുളിച്ചെയ്ത ഈശോയേ, ഹൃദയ താഴ്മയുടെ പാഠം ഞങ്ങളെ പഠിപ്പിക്കണമേ. നല്ല ഈശോയേ, അല്‍ഫോന്‍സാമ്മയെ അനുകരിച്ചു ഞങ്ങളും പ്രാര്‍ത്ഥിക്കുന്നു. സ്‌നേഹിക്കപ്പെടുവാനും വിലമതിക്കപ്പെടുവാനുമുള്ള ആഗ്രഹങ്ങളില്‍ നിന്ന് ഞങ്ങളെ വിമുക്തരാക്കണമേ. കീര്‍ത്തിയും ബഹുമാനവും സമ്പാദിക്കണമെന്നുള്ള ദുഷിച്ച ഉദ്യമത്തില്‍ നിന്ന് ഞങ്ങളെ രക്ഷിക്കണമേ. ഞങ്ങള്‍ക്കുള്ളതെല്ലാം അങ്ങയുടെ വലിയ കൃപാദാനമാണെന്നുള്ള ഉറച്ച ബോധ്യത്തോടെ, ഞങ്ങളുടെ സമയവും സമ്പത്തും കഴിവുകളുമെല്ലാം മററുള്ളവരുടെ നന്മയ്ക്കും വളര്‍ച്ചയ്ക്കുമായി ഉപയോഗിക്കുവാന്‍ സഹായിക്കണണേ. അധികാരികളില്‍ അങ്ങയെ ദര്‍ശിക്കുവാനും അവരെ അനുസരിക്കുവാനും അംഗീകരിക്കുവാനും ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. യഥാര്‍ത്ഥമായ വിനയത്തിലും സത്യത്തിലും നീതിയിലും ജീവിച്ച് സ്വര്‍ഗ്ഗീയ ജീവിതത്തിന് അര്‍ഹരാകുവാന്‍ ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">ആറാം ദിവസം</p>
					<p class="subtitle">ദൈവസാന്നിദ്ധ്യാവബോധം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം -  റോമാ 10:8-13 </p>
					<p class="subtitle">സുവിശേഷം -  ലൂക്കാ 12:22-32</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ലോകാവസാനം വരെ മനുഷ്യമക്കളോടുകൂടെ ആയിരിക്കുവാന്‍ വേണ്ടി, പരിശുദ്ധാത്മാവിനെ ഞങ്ങള്‍ക്കു നല്കുകയും പരിശുദ്ധ കുര്‍ബ്ബാന സ്ഥാപിക്കുകയും ചെയ്ത ഈശോനാഥാ, അങ്ങയുടെ അനന്തമായ സ്‌നേഹത്തിനും പരിപാലനയ്ക്കും ഞങ്ങള്‍ നന്ദി പറയുന്നു. എന്റെ കര്‍ത്താവ് അറിയാതെ എനിക്ക് ഒന്നും സംഭവിക്കുകയില്ല എന്ന ദൃഢവിശ്വാസത്തോടെ എല്ലാ പ്രതികൂലസാഹചര്യങ്ങളെയും സന്തോഷപൂര്‍വ്വം സ്വീകരിച്ച് സ്വര്‍ഗ്ഗീയമാക്കി മാററിയ അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, ദൈവീക പദ്ധതികള്‍ തിരിച്ചറിഞ്ഞ്, ജീവിതപ്രശ്‌നങ്ങളില്‍, അടിപതറാതെ നിന്നില്‍ പൂര്‍ണ്ണമായി അഭയം കണ്ടെത്തുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. കടന്നുവരുന്ന ഓരോ നിമിഷത്തെയും അങ്ങയുടെ സാന്നിദ്ധ്യാവബോധത്താല്‍ വിശുദ്ധീകരിച്ചുകൊണ്ട് പുണ്യവഴിയില്‍ നടക്കുവാന്‍ ഞങ്ങളെ പഠിപ്പിക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">ഏഴാം ദിവസം</p>
					<p class="subtitle">ദൈവത്തിലുള്ള പ്രത്യാശ</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം -  ഹെബ്രാ 10:19-24</p>
					<p class="subtitle">സുവിശേഷം -  മത്താ 7:7-12</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: നിങ്ങള്‍ എന്റെ നാമത്തില്‍ ആവശ്യപ്പെടുന്നതെന്തും പിതാവു പുത്രനില്‍ മഹത്ത്വപ്പെടുത്തുവാന്‍ വേണ്ടി ഞാന്‍ പ്രവര്‍ത്തിക്കും എന്നരുളിച്ചെയ്ത കര്‍ത്താവായ ഈശോയേ, അങ്ങയുടെ വാഗ്ദാനത്തില്‍ ഞങ്ങള്‍ പരിപൂര്‍ണ്ണമായി വിശ്വസിക്കുകയും പ്രത്യാശിക്കുകയും ചെയ്യുന്നു. എന്റെ കര്‍ത്താവിന്റെ കരങ്ങളിലൂടെ എന്തു ലഭിച്ചാലും അതെല്ലാം എന്നെ സന്തോഷിപ്പിക്കും എന്ന് ഉദ്‌ഘോഷിച്ചുകൊണ്ട് അല്‍ഫോന്‍സാമ്മയെപ്പോലെ, എല്ലാ അനുഭവങ്ങളിലും ദൈവകരം ദര്‍ശിക്കുവാന്‍ ഞങ്ങളെ പഠിപ്പിക്കണമേ. ഞങ്ങളുടെ ജീവിതത്തില്‍ ഉണ്ടാകുന്ന പരാജയങ്ങളിലും ദുഃഖങ്ങളിലും നിരാശരാകാതെ അങ്ങിലുള്ള പ്രത്യാശയില്‍ വളരുവാന്‍ പരിശുദ്ധാത്മാവിന്റെ വരദാനങ്ങളാല്‍ ഞങ്ങളെ ശക്തിപ്പെടുത്തണമേ. കണ്ണ് കണ്ടിട്ടില്ലാത്തതും ചെവി കേട്ടിട്ടില്ലാത്തതും ഹൃദയം ആസ്വദിച്ചിട്ടില്ലാത്തതും ആയ സ്വര്‍ഗ്ഗീയ മഹത്ത്വം പ്രാപിക്കാമെന്ന പ്രത്യാശയില്‍ സദാപി ഞങ്ങളുടെ ജീവിതത്തെ ക്രമപ്പെടുത്തുവാന്‍ സഹായിക്കണമേ. നിത്യം പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">എട്ടാം ദിവസം</p>
					<p class="subtitle">ദൈവത്തിലുള്ള പ്രത്യാശ</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം -  നടപടി 1:12-14</p>
					<p class="subtitle">സുവിശേഷം -  യോഹ. 19:25-27</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ഇതാ നിന്റെ അമ്മ എന്ന് യോഹന്നാനോട് അരുളിച്ചെയ്തുകൊണ്ട് പ്രിയമാതാവിനെ ലോകത്തിനു മുഴുവനും അമ്മയായി നല്കിയ ഈശോയേ, അങ്ങേയ്ക്ക് നന്ദി പറഞ്ഞ് അങ്ങയെ ഞങ്ങള്‍ സ്തുതിച്ചാരാധിക്കുന്നു. ചെറുപ്പകാലം മുതല്‍ പരിശുദ്ധ അമ്മയോടുള്ള ഭക്തിയിലും സ്‌നേഹത്തിലും വളരെ ആഴപ്പെട്ട ജീവിതം നയിച്ച അല്‍ഫോന്‍സാമ്മയെപ്പോലെ ദൈവമാതൃഭക്തിയില്‍ വളരുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. പരിശുദ്ധ അമ്മേ, നസ്രത്തിലെ കുടുംബത്തെ അവിടുന്ന് സംരക്ഷിയ്ക്കുകയും നയിക്കുകയും ചെയ്തതുപോലെ ഞങ്ങളുടെ കുടുംബങ്ങളെ വിശുദ്ധിയില്‍ വളര്‍ത്തുവാന്‍ ഞങ്ങളോടൊപ്പം ഉണ്ടായിരിക്കണമേ. എല്ലാവിധ അപകടങ്ങളില്‍ നിന്നും ഞങ്ങളെ സംരക്ഷിക്കണമേ. കാനായിലെ കല്യാണവിരുന്നില്‍ മാദ്ധ്യസ്ഥ്യം വഹിച്ചതുപോലെ ഞങ്ങളുടെ അനുദിനാവശ്യങ്ങളില്‍ ദൈവസന്നിധിയില്‍ ഞങ്ങള്‍ക്കായി മാദ്ധ്യസ്ഥ്യം വഹിക്കണമേ. ഈ ലോകജീവിതശേഷം സ്വര്‍ഗ്ഗത്തില്‍ അങ്ങയോടൊത്ത് ദൈവത്തെ പാടിപ്പുകഴ്ത്തുവാന്‍ ഞങ്ങളെ സഹായിക്കണമേ. പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle"><a href="#prayers">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</a></p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">ഒന്‍പതാം ദിവസം</p>
					<p class="subtitle">സ്വര്‍ഗ്ഗോന്മുഖ ജീവിതം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ദൈവവചനമായ മിശിഹായേ, സജീവവും ജീവദായകവുമായ അങ്ങയുടെ വചനങ്ങള്‍ ഗ്രഹിക്കുന്നതിന് ഞങ്ങളുടെ ബുദ്ധിയെയും മനസ്സിനെയും പ്രകാശിപ്പിക്കണമേ. അതുവഴി ഞങ്ങള്‍ സത്ഫലങ്ങള്‍ പുറപ്പെടുവിക്കുന്നവരും ജീവനും രക്ഷയും പ്രാപിക്കുന്നവരുമായിത്തീരട്ടെ. സകലത്തിന്റെയും നാഥാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">ലേഖനം -  1 പത്രോ 1:13-25</p>
					<p class="subtitle">സുവിശേഷം -  യോഹ. 14:1-7</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി:  ഞാന്‍ എന്റെ പിതാവിന്റെ ഭവനത്തില്‍ നിങ്ങള്‍ക്കായി വാസസ്ഥലമൊരുക്കു വാന്‍ പോകുന്നു എന്നു അരുളിച്ചെയ്തുകൊണ്ട് പിതാവിന്റെ പക്കലേക്ക് പോയ മിശിഹായേ, അങ്ങയെ ഞങ്ങള്‍ ആരാധിക്കുകയും സ്തുതിക്കുകയും മഹത്ത്വപ്പെടു ത്തുകയും ചെയ്യുന്നു. അങ്ങു ഞങ്ങള്‍ക്കായി ഒരുക്കിയിരിക്കുന്ന സ്വര്‍ഗ്ഗീയ സങ്കേതത്തില്‍ ഞങ്ങളും എത്തിച്ചേരുവാന്‍ ആഗ്രഹിക്കുന്നു. സുവിശേഷത്തിലെ ബുദ്ധിയുള്ള കന്യകമാരെപ്പോലെ വിശുദ്ധിയുടെ നിറദീപവുമായി, മണവാളനെ കാത്തിരുന്ന്, സ്വര്‍ഗ്ഗീയ കിരീടം സ്വന്തമാക്കിയ അല്‍ഫോന്‍സാമ്മയെപ്പോലെ കര്‍ത്താവുമായി എപ്പോഴും സ്‌നേഹത്തില്‍ ഐക്യപ്പെട്ടു ജീവിക്കുവാന്‍ ഞങ്ങളെ പ്രാപ്തരാക്കണമേ. ഈ ലോകത്തിന് അനുരൂപരാകാതെ, മനസ്സിന്റെ നിരന്തരമായ നവീകരണം വഴി സ്വര്‍ഗ്ഗോന്മുഖമായ ജീവിതം നയിക്കുവാനും നല്ല മരണം പ്രാപിച്ച് സ്വര്‍ഗ്ഗത്തില്‍ സകലവിശുദ്ധരോടും  മാലാഖമാരോടും കൂടെ അനവരതം ദൈവത്തെ പാടിപ്പുകഴ്ത്തുവാനും ഞങ്ങളെ അനുഗ്രഹിക്കണമേ.  പിതാവും പുത്രനും പരിശുദ്ധാത്മാവുമായ സര്‍വ്വേശ്വരാ, എന്നേക്കും.</p>
					<p>സമൂ: ആമ്മേന്‍</p>
				</div>
				<div class="section">
					<p class="subtitle">(തുടര്‍ന്ന് കാറോസൂസാ, സമാപന പ്രാര്‍ത്ഥനകള്‍)</p>
				</div>
			</div>

			<div id="prayers" class="main-content">
				<div class="title">
					<p class="maintitle">കാറോസൂസ</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: നമുക്കെല്ലാവര്‍ക്കും സന്തോഷത്തോടും പ്രത്യാശയോടും കൂടെ നമ്മുടെ ജീവിതങ്ങളെ ദൈവകരങ്ങളില്‍ സമര്‍പ്പിച്ചുകൊണ്ട്, അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കു വേണ്ടി പ്രാര്‍ത്ഥിക്കണമേ എന്ന് അപേക്ഷിക്കാം.</p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p class="subtitle">അല്ലെങ്കില്‍ ഗാനം,<br>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ, സുകൃതസുമങ്ങള്‍ പൊഴിക്കണമേ...... </p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: സഹനവും ത്യാഗവും വഴി ഈശോയുടെ സ്‌നേഹത്തിന് സാക്ഷ്യം വഹിച്ച അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങളുടെ എല്ലാ ജീവിതക്ലേശങ്ങളിലും ദുഃഖങ്ങളിലും ദൈവഹിതം ദര്‍ശിക്കുവാനും അവിടുത്തെ പരിപാലനയില്‍ ആശ്രയിച്ച് വിശ്വാസത്തോടെ ജീവിക്കാനും ഞങ്ങള്‍ ശക്തരാകുവാന്‍</p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: കാല്‍വരിയിലെ കുരിശില്‍ സ്വയം സമര്‍പ്പിച്ച ഈശോയെ അനുകരിച്ചുകൊണ്ട് സ്വയംബലിവസ്തുവായി ഹോമിക്കപ്പെടുവാന്‍ അഭിലഷിച്ച അല്‍ഫോന്‍സാമ്മേ ഞങ്ങളുടെ ജീവിതങ്ങളെയും സ്‌നേഹത്തിന്റെയും സ്വയംദാനത്തിന്റെയും നിരന്തരബലിയായി സമര്‍പ്പിക്കുവാന്‍ ഞങ്ങള്‍ യോഗ്യരാകുവാന്‍ </p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി:  ഞാന്‍ എന്നെ  മുഴുവനും കര്‍ത്താവിന് വിട്ടുകൊടുത്തിരിക്കുകയാണ്. അവിടുത്തെ ഇഷ്ടംപോലെ എന്നോട് ചെയ്തുകൊള്ളട്ടെ എന്ന് ഏററുപറഞ്ഞ അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥനാ ചൈതന്യവും വിശ്വാസതീക്ഷ്ണതയും പ്രത്യാശയും നിറഞ്ഞ ജീവിതത്തിലൂടെ ദൈവത്തെ മഹത്ത്വപ്പെടുത്തുന്നതിന് ഞങ്ങള്‍ പ്രാപ്തരാകുവാന്‍ </p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: എനിക്ക് എന്റെ  ഈശോയെ മാത്രം മതി, മറെറാന്നും എനിക്കു വേണ്ടാ എന്ന് ഏററുപറഞ്ഞ അല്‍ഫോന്‍സാമ്മേ ഞങ്ങളുടെ യുവതിയുവാക്കളും വിദ്യാര്‍ത്ഥിനിവിദ്യാര്‍ത്ഥികളും അങ്ങേ മാതൃകയനുസരിച്ച്, നന്മയിലും വിശുദ്ധിയിലും വളരുവാനും ജീവിതമൂല്യങ്ങളിലും സന്മാര്‍ഗ്ഗത്തിലും ദൈവവിശ്വാസത്തിലും അടിയുറച്ച് ഉചിതമായ ജീവിതാന്തസ്സ് കണ്ടെത്തി ജീവിക്കുവാനും </p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: എല്ലാവരോടും എനിക്ക് സ്‌നേഹമാണ്. ആരെയും വെറുക്കാന്‍ എനിക്ക് ഒരിക്കലും കഴിയുകയില്ല എന്ന് ഉദ്‌ഘോഷിച്ച അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങളുടെ നാടിന്റേയും രാജ്യത്തിന്റേയും ഐശ്വര്യത്തിനും അഭിവൃദ്ധിക്കും വേണ്ടിയും ഭരണാധികാരികളുടെ നന്മയ്ക്കും ക്ഷേമത്തിനും വേണ്ടിയും ഞങ്ങള്‍ പ്രാര്‍ത്ഥിക്കുന്നു.</p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: തിരുസ്സഭയെയും തിരുസ്സഭാധികാരികളെയും ഏറെ സ്‌നേഹിക്കുകയും ബഹുമാനിക്കുകയും അവര്‍ക്കുവേണ്ടി പ്രാര്‍ത്ഥിക്കുകയും ചെയ്ത അല്‍ഫോന്‍സാമ്മേ, സഭയുടെ തലവനായ പരിശുദ്ധപിതാവിനെയും എല്ലാ സഭാദ്ധ്യക്ഷന്മാരേയും വൈദീകര്‍, സന്യാസിനീസന്യാസികള്‍, അല്‍മായ പ്രേഷിതര്‍ എന്നിവരെയും പരിപാലിക്കുവാനും ആത്മീയ നന്മകളാലും ദൈവീക സുകൃതങ്ങളാലും നിറഞ്ഞ് അവര്‍ ദൈവത്തെ മഹത്ത്വപ്പെടുത്തുവാനും </p>
					<p>സമൂ: അല്‍ഫോന്‍സാമ്മേ, ഞങ്ങള്‍ക്കുവേണ്ടി അപേക്ഷിക്കണമേ.</p>
				</div>
				<div class="section">
					<p class="subtitle">(മൗനപ്രാര്‍ത്ഥന, കൃതജ്ഞതാര്‍പ്പണം)</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">നമുക്കു പ്രാര്‍ത്ഥിക്കാം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: എന്നെ അനുഗമിക്കുവാന്‍ ആഗ്രഹിക്കുന്നവന്‍ സ്വയം പരിത്യജിച്ച് സ്വന്തം കുരിശുമെടുത്ത് എന്റെ പിന്നാലെ വരട്ടെ എന്നരുളിച്ചെയ്ത ഈശോനാഥാ, ഞങ്ങളുടെ ജീവിതാനുഭവങ്ങളാകുന്ന കുരിശുകളെ അങ്ങയുടെ സന്നിധിയില്‍ ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്നു. ഞങ്ങളുടെ എല്ലാ ആവശ്യങ്ങളും അറിയുന്ന കാരുണ്യവാനായ കര്‍ത്താവേ, അല്‍ഫോന്‍സാമ്മ വഴി അങ്ങയുടെ സന്നിധിയില്‍ ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്ന പ്രാര്‍ത്ഥനകള്‍ പ്രത്യേകിച്ച് ഇന്ന് ഞങ്ങള്‍ സമര്‍പ്പിക്കുന്ന ഈ പ്രത്യേക ആവശ്യം (...................) കരുണാപൂര്‍വ്വം സ്വീകരിച്ച് ഞങ്ങളെ അനുഗ്രഹിക്കണമേ. അവിടുത്തെ തൃക്കരം നീട്ടി ഞങ്ങളെ ആശീര്‍വദിക്കുകയും ഞങ്ങളെയും ഞങ്ങളുടെ കുടുംബാംഗങ്ങളെയും ഞങ്ങളുടെ ഇടവക സമൂഹത്തെയും അങ്ങയുടെ സന്നിധിയില്‍ ഞങ്ങള്‍ സമര്‍പ്പിച്ചു പ്രാര്‍ത്ഥിക്കുന്ന എല്ലാവരെയും സമൃദ്ധമായി അനുഗ്രഹിക്കുകയും ചെയ്യണമേ.</p>
				</div>
				<div class="section">
					<p>സമൂ: ആമ്മേന്‍</</p>
				</div>
				<div class="title">
					<p class="maintitle">അല്‍ഫോന്‍സാമ്മയുടെ പ്രാര്‍ത്ഥന</p>
					<p class="subtitle">(കാര്‍മ്മികന്‍ ചൊല്ലിക്കൊടുക്കുന്നു)</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: ഓ! ഈശോനാഥാ/അങ്ങേ ദിവ്യഹൃദയത്തിലെ മുറിവില്‍/എന്നെ മറയ്‌ക്കേണമേ. സ്‌നേഹിക്കപ്പെടുവാനും/വിലമതിക്കപ്പെടുവാനും ഉള്ള എന്റെ ആശയില്‍ നിന്ന്/എന്നെ വിമുക്തയാക്കണമേ/കീര്‍ത്തിയും ബഹുമാനവും സമ്പാദിക്കണമെന്നുള്ള ദുഷിച്ച ഉദ്യമത്തില്‍ നിന്ന് എന്നെ രക്ഷിക്കണമേ. ഒരു പരമാണുവും/അങ്ങേ ദിവ്യഹൃദയത്തിലെ/സ്‌നേഹാഗ്‌നിജ്വാലയിലെ ഒരു പൊരിയും ആകുന്നതുവരെ/എന്നെ എളിമപ്പെടുത്തണമേ/സൃഷ്ടികളെയും എന്നെത്തന്നെയും/മറന്നു കളയുന്നതിനുള്ള അനുഗ്രഹം/എനിക്കു തരണമേ. പറഞ്ഞറിയിക്കാന്‍ വയ്യാത്ത മാധുര്യമായ എന്റെ ഈശോയെ/ലൗകികാശ്വാസങ്ങളെല്ലാം എനിക്ക് കയ്പായി പകര്‍ത്തണമേ/നീതിസൂര്യ നായ എന്റെ ഈശോയെ നിന്റെ ദിവ്യ കതിരിനാല്‍/എന്റെ ബോധത്തെ തെളിയിച്ച്/ ബുദ്ധിയെ പ്രകാശിപ്പിച്ച്/ഹൃദയത്തെ ശുദ്ധീകരിച്ച്/നിന്റെ നേര്‍ക്കുള്ള സ്‌നേഹത്താല്‍ എരിയിച്ച്/എന്നെ നിന്നോട് ഒന്നിപ്പിക്കണമേ.</p>
				</div>
				<div class="section">
					<p>സമൂ: ആമ്മേന്‍</</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">സമാപനാശീര്‍വ്വാദം</p>
				</div>
				<div class="section">
					<p>കാര്‍മ്മി: എന്റെ സമാധാനം നിങ്ങള്‍ക്കു ഞാന്‍ തരുന്നു. ഞാന്‍ നല്കുന്ന സമാധാനം നിങ്ങളില്‍ നിന്ന് എടുത്തുകളയാന്‍ ആര്‍ക്കും സാധ്യമല്ല എന്നരുളിച്ചെയ്ത കര്‍ത്താവീശോമിശിഹാ തന്റെ സമാധാനത്തില്‍ നിങ്ങളുടെ ഹൃദയങ്ങളെ നിറയ്ക്കട്ടെ. വി. അല്‍ഫോന്‍സായെ സ്വര്‍ഗ്ഗീയഫലങ്ങളാല്‍ നിറച്ച കര്‍ത്താവ് തന്റെ അനുഗ്രഹത്തില്‍ നമ്മെയും സന്തുഷ്ടരാക്കട്ടെ. എല്ലാവിധ ക്ലേശങ്ങളിലും രോഗങ്ങളിലും അസ്വസ്ഥതകളിലും നിന്ന് മോചനം നല്കി അവിടുന്ന് നിങ്ങളെ ആശ്വസിപ്പിക്കട്ടെ. ദൈവതിരുമനസ്സ് ഗ്രഹിക്കുവാനും പരിശുദ്ധാത്മാവിന്റെ പ്രചോദനമനുസരിച്ച് ജീവിക്കുവാനും ആത്മീയ ഫലങ്ങളാല്‍ നിറയുവാനും അവിടുന്ന് നിങ്ങളെ ശക്തരാക്കട്ടെ. വി. അല്‍ഫോന്‍സായുടെ മാതൃകയില്‍ ദൈവസന്നിധിയില്‍, പ്രത്യാശയും സമര്‍പ്പണബോധവും വിശ്വാസവും ഉള്ളവരായി ജീവിക്കുവാനും വിശുദ്ധിയില്‍ വളര്‍ന്ന് നന്മകള്‍ പുറപ്പെടുവിക്കാനും അവിടുന്ന് നിങ്ങളെ പ്രാപ്തരാക്കട്ടെ. ഇപ്പോഴും എപ്പോഴും എന്നേയ്ക്കും. ആമ്മേന്‍.</p>
				</div>
			</div>

			<div class="main-content">
				<div class="title">
					<p class="maintitle">സമാപനഗാനം</p>
					<p class="subtitle">(യേരുശലേമിലെ വന്‍മലമേല്‍ എ.മ)</p>
				</div>
				<div class="section">
					<p>ഈശോതന്‍ പ്രിയദാസി അല്‍ഫോന്‍സാ<br>
					സഹനത്തിന്‍ സാക്ഷിയാം അല്‍ഫോന്‍സാ<br>
					വിശുദ്ധിതന്‍ പരിമളസൂനമതായ്<br>
					വിളങ്ങിടുന്നമ്മേ, സമര്‍പ്പിക്കുന്നേന്‍</p>
				</div>
				<div class="section">
					<p>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ<br>
					ഈശോതന്‍ സവിധേ ഞങ്ങള്‍ക്കായ്</p>
				</div>
				<div class="section">
					<p>ഗോതമ്പുമണിപോല്‍ അഴിയാനും<br>
					സ്‌നേഹത്തില്‍ പുതുജീവന്‍ പകരാനും<br>
					ജീവിതക്ലേശങ്ങള്‍ സമചിത്തരായ്<br>
					നേരിടാനും കൃപ ചൊരിയണമേ</p>
				</div>
				<div class="section">
					<p>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ<br>
					ഈശോതന്‍ സവിധേ ഞങ്ങള്‍ക്കായ്</p>
				</div>
				<div class="section">
					<p>ഈശോതന്‍ സ്‌നേഹത്തില്‍ വളരാനും<br>
					ദൈവീക സുകൃതങ്ങള്‍ നിറയാനും <br>
					സോദരാ സ്‌നേഹത്തില്‍ നിര്‍മ്മലരായ്<br>
					ജീവിക്കാനും കൃപ ചൊരിയണമേ</p>
				</div>
				<div class="section">
					<p>അല്‍ഫോന്‍സാമ്മേ, പ്രാര്‍ത്ഥിക്കണേ<br>
					ഈശോതന്‍ സവിധേ ഞങ്ങള്‍ക്കായ്</p>
				</div>
			</div>

		</div>
	</body>
</html>